Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

fix: remove fork detection
  src/modules/oracles/common/consensus.py
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

fix: fix imports
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/safe_border.py
  src/services/staking_vaults.py
  src/services/withdrawal.py
Due: isort-poetry, mypy, pylint

fix: smoke test
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

feat(orc-704): rename src/utils/validator_balance.py functions
  src/modules/oracles/ejector/ejector.py
  src/services/exit_order_iterator.py
  src/utils/validator_balance.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-704): update docstrings
  src/utils/validator_balance.py
Due: isort-poetry, mypy, pylint

feat: separate telemetry account
  .env.example
  README.md
  src/modules/oracles/staking_modules/base.py
  src/providers/execution/contracts/lido.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/variables.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: e2e test + rename
  src/metrics/prometheus/basic.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/fork/conftest.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: Correct sweep calculation for EIP-7732
  src/constants.py
  src/modules/oracles/ejector/sweep.py
  src/providers/consensus/types.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

fix: epbs tests
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

feat: update meta group interface
  assets/MetaRegistry.json
  src/providers/execution/contracts/meta_registry.py
Due: isort-poetry, mypy, pylint

fix: tests
  tests/execution/contracts/test_contract_transformations.py
  tests/factory/meta_registry.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

feat: Correct CL balance for EIP-7732
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

feat: call get latest data to record metric updates
  src/modules/oracles/common/consensus.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry, mypy, pylint

feat: improve ai wf
  .github/instructions/oracle-logic.instructions.md
  .github/workflows/tests.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  agents.md
  tests/execution/contracts/test_contract_transformations.py
Due: isort-poetry

fix: copilot proposes
  agents.md
  pyproject.toml
Due: none

fix: urls
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/types.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/services/safe_border.py
  src/utils/validator_state.py
  src/utils/web3converter.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

feat: add uvicorn config vars
  README.md
  src/modules/sidecars/performance/web/server.py
  src/variables.py
Due: isort-poetry, mypy, pylint

chore: change default batch size for Performance Collector
  README.md
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: remove `PERFORMANCE_WEB_SERVER_TIMEOUT_KEEP_ALIVE`
  README.md
  src/modules/sidecars/performance/web/server.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: 112 -> 100
  README.md
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: Remove dynamic queues from sweep calculations
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

fix: Remove dynamic part of sweep
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

fix: Fix curl version
  Dockerfile
Due: none

Potential fix for pull request finding
  src/constants.py
Due: isort-poetry, mypy, pylint

feat(orc-329): remove curl from production
  Dockerfile
  docker-compose.yml
  src/scripts/__init__.py
  src/scripts/healthcheck.py
Due: isort-poetry, mypy, pylint

feat(orc-329): add allow_redirects=False
  src/scripts/healthcheck.py
Due: isort-poetry, mypy, pylint

feat(orc-329): add requests to first-class dependencies
  poetry.lock
  pyproject.toml
  src/scripts/healthcheck.py
Due: isort-poetry, mypy, pylint

feat(orc-329): add test
  src/scripts/healthcheck.py
  tests/scripts/__init__.py
  tests/scripts/test_healthcheck.py
Due: isort-poetry, mypy, pylint

fix: no strike when slashing and no threshold
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

feat(orc-121): add get_blockstamp_by_state to utils
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/utils/blockstamp.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry, mypy, pylint

feat(orc-121): add test
  tests/utils/test_blockstamp.py
Due: isort-poetry

feat(orc-722): Handle WeightsNotUpdatedError without restarting oracle
  src/modules/oracles/common/oracle_module.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat(orc-722): resolve WeightsNotUpdatedError on ejector level
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

fix: Address comments
  src/constants.py
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

test: added tests
  Dockerfile
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

feat(orc-329): add comment
  Dockerfile
Due: none

fix: rewrite sweep calculation
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

fix: rename
  src/modules/oracles/ejector/sweep.py
Due: isort-poetry, mypy, pylint

fix: format
  Dockerfile
Due: none

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
