Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

chore(vaults): lint
  src/modules/accounting/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): removed merkle_tree_root from ipfs_report
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

fix(vaults): get starting period for previous report
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

test(vaults): add chain, frame_config
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

fix(vaults): calc pending deposits
  src/modules/accounting/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): log comments
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): Add ASCII for calculation liquidity_fee
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/vault_hub.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): Add ASCII for calculation liquidity_fee
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore(vaults): lint
  src/modules/accounting/events.py
Due: isort-poetry, mypy, pylint

feat(vaults): refactoring events
  src/modules/accounting/events.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review get_vaults_total_values
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review marks
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/lazy_oracle.py
  src/utils/apr.py
  src/utils/types.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review marks
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review marks
  tests/utils/test_apr.py
Due: isort-poetry

feat(vaults): try use hardcoded CSM_MODULE_ADDRESS
  tests/conftest.py
Due: isort-poetry

feat(vaults): make poetry-lock
  poetry.lock
Due: none

feat(vaults): fix review
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/accounting.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/lido.py
  src/providers/execution/contracts/staking_router.py
  src/providers/execution/contracts/vault_hub.py
  src/utils/apr.py
  src/variables.py
  src/web3py/extensions/contracts.py
  src/web3py/types.py
  tests/integration/conftest.py
  tests/modules/submodules/consensus/test_reports.py
  tests/providers/test_lazy_oracle.py
  tests/providers/test_vault_hub.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix typing
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

test(vaults): add get_staking_fee_aggregate_distribution
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lazy_oracle.py
  tests/providers/test_staking_vaults.py
  tests/providers/test_vault_hub.py
Due: isort-poetry

feat: introduce epochs_slashing_window and slashing_event_governance_threshold as parameters for daemon config
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/oracle_daemon_config.py
Due: isort-poetry, mypy, pylint

feat: fix typo
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: proper DI for daemon config
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: direct request to the values
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: fix formatting
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test: fix oracle_daemon_config
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat: rename slashing reserve params
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/oracle_daemon_config.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

test: fix padding
  tests/providers/test_staking_vaults.py
Due: isort-poetry

chore: remove empty line
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: formatting
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat: slashing_reserve_we_left_shift and slashing_reserve_we_right_shift add to daemon config
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/oracle_daemon_config.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): add ipfs report verification
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  tests/conftest.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: rename struct and add lru cache
  src/modules/submodules/consensus.py
  src/modules/submodules/types.py
Due: isort-poetry, mypy, pylint
