Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix(gloas): address ejector review comments
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/utils/validator_state.py
  tests/modules/ejector/test_gloas_ejector.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

refactor(gloas): carry the state epoch on ReferenceBlockStamp
  scripts/run_oracle_at_slot.py
  src/modules/checks/suites/conftest.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/types.py
  src/utils/blockstamp.py
  tests/factory/blockstamp.py
  tests/integration/test_gloas_blockstamp.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/staking_vault/test_slashing_reserve.py
  tests/modules/accounting/test_withdrawal_integration.py
  tests/modules/ejector/test_gloas_ejector.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

refactor(gloas): derive in_flight_withdrawal_sum from the per-index aggregation
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

refactor(gloas): apply the in-flight withdrawal correction once, in indexed_validators
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  tests/conftest.py
  tests/factory/consensus.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_gloas_correction.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

fix(gloas): identify bunker CL rebase samples by state root
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix(bunker): fail loudly when the previous sample is after the reference block
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix(scripts): default run_oracle_at_slot to a Gloas-safe reference slot
  scripts/run_oracle_at_slot.py
Due: isort-poetry

refactor(bunker): drop redundant comment on inverted sample guard
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

Apply suggestion from @F4ever
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

fix: port the 8.1.0 master changes onto develop
  CHANGELOG.md
  docker-compose.yml
  pyproject.toml
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix(compose): pass DELEGATION_CONTRACT_ADDRESS to csm-0x02-oracle and fix docs
  README.md
  agents.md
  docker-compose.yml
Due: none

chore(release): 8.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

test(fork): skip first-frame accounting reports and restore the signer after each member
  tests/fork/conftest.py
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

refactor(gloas): carry the state epoch on BlockStamp
  scripts/fingerprint_e2e.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/types.py
  src/utils/blockstamp.py
  tests/factory/blockstamp.py
  tests/fork/conftest.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/modules/submodules/test_oracle_module.py
  tests/utils/test_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

chore: drop the revert-logging comment
  src/modules/oracles/common/oracle_module.py
Due: isort-poetry, mypy, pylint

feat: add custom fee registry
  assets/CustomFeeRegistry.json
  assets/MetaRegistry.json
  src/modules/checks/suites/conftest.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/oracles/staking_modules/community_staking/entrypoint.py
  src/modules/oracles/staking_modules/community_staking_0x02/entrypoint.py
  src/modules/oracles/staking_modules/curated/cm.py
  src/modules/oracles/staking_modules/curated/entrypoint.py
  src/providers/execution/contracts/custom_fee_registry.py
  src/providers/execution/contracts/meta_registry.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/curated_staking_module.py
  src/web3py/extensions/staking_module.py
  tests/execution/contracts/test_custom_fee_contracts.py
  tests/factory/curated.py
  tests/modules/cm/test_cm_distribution.py
  tests/modules/cm/test_cm_entrypoint.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_entrypoint.py
  tests/modules/submodules/test_runtime.py
  tests/web3py/test_curated_staking_module.py
Due: isort-poetry, mypy, pylint

feat: add custom fee registry
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

Potential fix for pull request finding 'Regression test uses incorrect epoch boundary slots'
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix: reject incomplete LazyOracle batches
  src/providers/execution/contracts/lazy_oracle.py
  tests/execution/contracts/test_contract_transformations.py
Due: isort-poetry, mypy, pylint

fix: check the index of a historical validator record
  src/providers/consensus/client.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

fix: reject duplicate pubkeys among vault validators
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_validator_mapping.py
Due: isort-poetry, mypy, pylint

fix: check liquidity fee continuity in the event replay
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_liquidity_by_events.py
Due: isort-poetry, mypy, pylint

fix(bunker): count the midterm penalty due in the reference epoch as pending
  src/services/bunker_cases/midterm_slashing_penalty.py
Due: isort-poetry, mypy, pylint

test(bunker): cover the midterm penalty epoch boundary
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry

feat: tests
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

docs: fix CM frame length to 14 days
  README.md
  agents.md
Due: none

chore(release): 8.2.1
  pyproject.toml
Due: none

Apply suggestion from @F4ever
  src/utils/events.py
Due: isort-poetry, mypy, pylint

feat: read max exit requests per report from OracleDaemonConfig
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/exit_order_iterator.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/contracts/test_oracle_daemon_config.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: double strike
  src/constants.py
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: abi
  assets/MetaRegistry.json
  src/providers/execution/contracts/meta_registry.py
  tests/execution/contracts/test_custom_fee_contracts.py
Due: isort-poetry, mypy, pylint

fix: log unset OracleDaemonConfig values as a contract call
  src/providers/execution/contracts/oracle_daemon_config.py
Due: isort-poetry, mypy, pylint

fix(bunker): drop stale-frame deposit counter at a lagging Gloas anchor
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

feat: bump consensus version
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/community_staking/csm.py
  src/modules/oracles/staking_modules/community_staking_0x02/csm_0x02.py
  src/modules/oracles/staking_modules/curated/cm.py
Due: isort-poetry, mypy, pylint

fix(ejector): keep pending-partial balance deductions in the Gloas sweep estimate
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint
