Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat: hoodi integration test
  tests/fork/test_delegation_report_cycle.py
  tests/integration/conftest.py
  tests/integration/contracts/test_delegation_contract.py
Due: isort-poetry

perf(test): dedupe KAPI keys with a set instead of a linear scan
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry

test: stop a stuck mainnet smoke cycle from hanging the whole pytest run
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

refactor(gloas): build blockstamps from ref_slot's child under ePBS
  docs/glamsterdam-devnet-testplan.md
  src/modules/checks/suites/conftest.py
  src/modules/oracles/common/consensus.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/safe_border.py
  src/types.py
  src/utils/blockstamp.py
  src/utils/slot.py
  tests/factory/blockstamp.py
  tests/factory/configs.py
  tests/integration/test_gloas_blockstamp.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/providers/consensus/test_consensus_client.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

test(gloas): cover the report waiting for ref_slot's child to finalize
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

feat(gloas): EIP-8061 exit churn limit and EIP-7732 sweep-delay for ejector
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/utils/validator_state.py
  tests/factory/configs.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

test(gloas): cover the report waiting for ref_slot's child to finalize
  src/modules/oracles/common/consensus.py
  src/utils/slot.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

ci: pass tag input via env before shell
  .github/workflows/ci-prod.yml
  .github/workflows/create-tag-and-trigger-deploy.yml
Due: none

refactor: fold the divergence guide into the README
  README.md
  agents.md
  docs/report-divergence-logs.md
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

refactor: fingerprint each response exactly as it arrived
  README.md
  src/providers/consensus/client.py
  src/providers/keys/client.py
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

perf: halve the digest cost, and pin it to real mainnet responses
  scripts/fingerprint_e2e.py
  src/utils/fingerprint.py
  tests/utils/fixtures/mainnet_beacon_state_slice.json.gz
  tests/utils/fixtures/mainnet_kapi_used_keys_slice.json.gz
  tests/utils/test_fingerprint.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry, mypy, pylint

docs: quote the measured digest cost, not the estimate
  src/utils/fingerprint.py
Due: isort-poetry, mypy, pylint

docs: say what the digest actually covers
  README.md
  src/utils/fingerprint.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry, mypy, pylint

feat: resolve comments
  assets/DelegationContract.json
  src/modules/checks/suites/conftest.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/runtime.py
  src/web3py/extensions/signer.py
  tests/conftest.py
  tests/fork/test_delegation.py
  tests/web3py/test_signer_module.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

feat: update delegation.md
  docs/delegation.md
Due: none

feat: delegatee->delegate
  README.md
  docs/delegation.md
  src/web3py/extensions/signer.py
  tests/fork/test_delegation.py
Due: isort-poetry, mypy, pylint

feat: fix links in delegation.md and tweak init telemetry
  docs/delegation.md
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

feat: pop telemetry priv key
  scripts/run_oracle_at_slot.py
Due: isort-poetry

feat: update delegation contract references and fix test configurations
  assets/DelegationContract.json
  src/web3py/extensions/signer.py
  tests/conftest.py
  tests/fork/test_delegation.py
  tests/fork/test_delegation_report_cycle.py
  tests/integration/conftest.py
Due: isort-poetry, mypy, pylint

feat: review
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: adjust timeout
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry

feat(stc-830): add KAPI version to oracle startup telemetry
  src/modules/oracles/common/runtime.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat(stc-830): add cache on kapi get status
  src/providers/keys/client.py
Due: isort-poetry, mypy, pylint

feat(stc-830): drop try/except and cache for kapi get_status
  src/modules/oracles/common/runtime.py
  src/providers/keys/client.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat: replace with while True
  README.md
  src/modules/oracles/common/runtime.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: test
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry

fix: rpc execptions
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: resolve comments
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat: lean bunker mode
  .github/instructions/oracle-logic.instructions.md
  README.md
  agents.md
  src/constants.py
  src/modules/oracles/accounting/accounting.py
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/bunker.py
  src/services/bunker_cases/__init__.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/services/bunker_cases/types.py
  src/services/safe_border.py
  src/services/withdrawal.py
  tests/execution/contracts/test_oracle_daemon_config.py
  tests/factory/configs.py
  tests/integration/contracts/test_oracle_daemon_config.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_safe_border_integration.py
  tests/modules/accounting/test_safe_border_unit.py
  tests/modules/accounting/test_withdrawal_integration.py
  tests/modules/accounting/test_withdrawal_unit.py
  tests/services/test_safe_border.py
  tests/utils/test_validator_state_utils.py
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry, mypy, pylint

fix: comments resolve
  README.md
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: identify which state a fingerprint line is about
  README.md
  src/utils/fingerprint.py
Due: isort-poetry, mypy, pylint

test: cover the three fingerprint call sites
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry

docs: move the divergence guide out of the README
  README.md
  agents.md
  docs/report-divergence.md
  src/utils/fingerprint.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry, mypy, pylint

feat: tweak tests + linters
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

fix: nonce setup
  docker-compose.yml
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

test: make the pinned digests checkable from the sources
  scripts/fingerprint_e2e.py
  tests/utils/fixtures/mainnet_beacon_state_slice.json
  tests/utils/fixtures/mainnet_beacon_state_slice.json.gz
  tests/utils/fixtures/mainnet_kapi_used_keys_slice.json
  tests/utils/fixtures/mainnet_kapi_used_keys_slice.json.gz
  tests/utils/test_fingerprint.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry

fix(gloas): read EIP-8061 churn parameters from the CL config spec
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  src/utils/validator_state.py
  tests/factory/configs.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

fix: zero error
  Dockerfile
  src/services/withdrawal.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/test_withdrawal_unit.py
Due: isort-poetry, mypy, pylint

feat(stc-876): fix healthcheck
  Dockerfile
  docker-compose.yml
  src/scripts/healthcheck.py
Due: isort-poetry, mypy, pylint

docs(gloas): drop the devnet test plan from the blockstamp PR
  docs/glamsterdam-devnet-testplan.md
  tests/integration/test_gloas_blockstamp.py
Due: isort-poetry
