Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat: get genesis fork version form node
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/submodules/consensus.py
  src/modules/submodules/types.py
  src/providers/consensus/types.py
  src/utils/deposit_signature.py
  src/variables.py
  tests/utils/test_deposit_signature.py
Due: isort-poetry, mypy, pylint

test: fix after DI changes
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test: add hoodi fork version
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test: formatting
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat: slashing_reserve, ipfs_report verification, genesis fork
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/modules/submodules/consensus.py
  src/modules/submodules/types.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/oracle_daemon_config.py
  src/utils/deposit_signature.py
  src/variables.py
  tests/conftest.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/providers/test_staking_vaults.py
  tests/utils/test_deposit_signature.py
Due: isort-poetry, mypy, pylint

test: fix tests for mainnet
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test: extract common consts
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/utils/constants.py
  tests/utils/test_deposit_signature.py
Due: isort-poetry

fix(vaults): removed cache under get_vaults_slashing_reserve
  src/modules/accounting/staking_vaults.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): restore calc pending deposits
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): removed annotation under getting vaults
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review
  README.md
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/__init__.py
  src/providers/execution/contracts/staking_router.py
  src/providers/execution/contracts/vault_hub.py
  src/utils/apr.py
  src/utils/deposit_signature.py
  src/utils/validator_state.py
  tests/conftest.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review
  src/providers/execution/contracts/__init__.py
  src/providers/execution/contracts/lido.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry

test(vaults): black formatter
  tests/providers/test_staking_vaults.py
Due: isort-poetry

fix(vaults): tests
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

feat(vaults): review fixes
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): review fixes
  src/modules/accounting/events.py
Due: isort-poetry, mypy, pylint

feat(vaults): review fixes
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix getting previous report start point
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/lazy_oracle.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): removed py-evm
  poetry.lock
  pyproject.toml
Due: none

feat(vaults): fix start point for calculation
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix leafIndexToData
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix lint
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix lint
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

fix(vaults): lint moved StakingVaults to services folder
  src/modules/accounting/accounting.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix mypy
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): reformat test
  tests/modules/accounting/staking_vault/test_ifps_report.py
Due: isort-poetry

feat(orc-443): rename STUCK_OR_EXITED_VALS_COUNT to EXITED_VALS_COUNT
  src/modules/accounting/third_phase/extra_data.py
  src/modules/accounting/third_phase/types.py
Due: isort-poetry, mypy, pylint

feat(orc-443): removed deprecated fields
  src/modules/accounting/third_phase/extra_data.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/test_validator_state.py
Due: isort-poetry, mypy, pylint

chore(staking_vault): simplify pending deposits handling
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): compact abies
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/Burner.json
  assets/HashConsensus.json
  assets/LazyOracle.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleDaemonConfig.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
  assets/VaultHub.json
  assets/WithdrawalQueueERC721.json
Due: none

test(staking_vault): calculate pending deposits happy path
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

fix(vaults): ipfs test from latest block
  tests/modules/accounting/staking_vault/test_ifps_report.py
Due: isort-poetry

fix(vault_fees): ignore previous report fee if vault reconnected between reports
  src/modules/accounting/events.py
  src/providers/execution/contracts/vault_hub.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vault_fees): ignore previous report fee if vault reconnected between reports
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

test(vault_fees): Cover by tests service_staking_vaults
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix: missing pivot slot in block roots
  src/modules/csm/checkpoint.py
Due: isort-poetry, mypy, pylint

fix: review
  src/modules/csm/checkpoint.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
