Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat(test-1312):
  pyproject.toml
Due: none

feat(gloas): resolve blockstamp EL anchor and pending deposits under ePBS
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/safe_border.py
  src/services/staking_vaults.py
  src/types.py
  src/utils/blockstamp.py
  src/utils/slot.py
  tests/factory/blockstamp.py
  tests/factory/configs.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

feat(gloas): prefer proposer-duties v2 endpoint with relaxed v1 fallback
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

test(gloas): add blockstamp EL-anchor unit tests
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry

docs(gloas): add devnet test plan and skip-marked integration harness
  docs/glamsterdam-devnet-testplan.md
  tests/integration/test_gloas_blockstamp.py
Due: isort-poetry

refactor(gloas): centralize blockstamp building in BlockstampBuilder
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/safe_border.py
  src/services/staking_vaults.py
  src/utils/blockstamp.py
  src/utils/slot.py
  tests/fork/conftest.py
  tests/integration/test_gloas_blockstamp.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/providers/consensus/test_consensus_client.py
  tests/utils/test_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

feat(gloas): conditional in-flight withdrawal TVL correction in accounting
  src/modules/oracles/accounting/accounting.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/modules/accounting/test_gloas_correction.py
Due: isort-poetry, mypy, pylint

feat(gloas): EIP-8061 exit churn limit and EIP-7732 sweep-delay for ejector
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/utils/validator_state.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

feat(orc-755): implement sof key delegation
  .env.example
  README.md
  assets/DelegationContract.json
  src/modules/checks/suites/conftest.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/exceptions.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/common/runtime.py
  src/providers/execution/contracts/delegation_contract.py
  src/variables.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/delegation.py
  src/web3py/extensions/signer.py
  src/web3py/extensions/tx_utils.py
  src/web3py/types.py
  tests/conftest.py
  tests/execution/contracts/test_contract_transformations.py
  tests/fork/test_delegation.py
  tests/integration/contracts/test_delegation_contract.py
  tests/modules/submodules/consensus/conftest.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/modules/submodules/consensus/test_reports.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_delegation_module.py
  tests/web3py/test_signer_module.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

feat: remove legacy delegation abi
  src/providers/execution/contracts/delegation_contract.py
  tests/execution/contracts/test_contract_transformations.py
Due: isort-poetry, mypy, pylint

feat: skip integration test
  tests/integration/contracts/test_delegation_contract.py
Due: isort-poetry

feat: telemetry retry added
  README.md
  src/variables.py
  src/web3py/extensions/signer.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat: replace validation lib with c compiled
  .github/workflows/build-image.yml
  .github/workflows/ci-daily-checks.yml
  .github/workflows/docker_build_reproducibility.yml
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
  .gitmodules
  Dockerfile
  Makefile
  docs/development.md
  docs/reproducible-builds.md
  poetry.lock
  pyproject.toml
  scripts/build_blst.sh
  src/services/deposit_signature_verification.py
  stubs/blst/__init__.pyi
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry, mypy, pylint

feat: ruff format
  pyproject.toml
  scripts/build_blst.sh
  src/services/deposit_signature_verification.py
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry, mypy, pylint

fix: test name
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry

fix: resolve comments
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry

modified
  src/modules/oracles/common/consensus.py
Due: isort-poetry, mypy, pylint

more logs
  src/modules/oracles/accounting/accounting.py
  src/web3py/extensions/lido_validators.py
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry, mypy, pylint

Revert "modified"
  src/modules/oracles/common/consensus.py
Due: isort-poetry, mypy, pylint

feat: log input fingerprints for report divergence debugging
  README.md
  agents.md
  docs/report-divergence-logs.md
  scripts/reconcile_fingerprints.py
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/keys/client.py
  src/runtime.py
  src/services/deposit_signature_verification.py
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
  tests/services/test_deposit_signature_verification.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

fix: cut sketch volume to the sets that need it, cover pending top-ups
  docs/report-divergence-logs.md
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/keys/client.py
  src/services/deposit_signature_verification.py
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

fix: drop the Keys API sketch, chunk the remaining one under Docker's line limit
  docs/report-divergence-logs.md
  scripts/reconcile_fingerprints.py
  src/providers/keys/client.py
  src/utils/fingerprint.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

refactor: replace the IBLT sketch with bucket digests
  docs/report-divergence-logs.md
  scripts/reconcile_fingerprints.py
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/keys/client.py
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

refactor: drop per-bucket detail, keep count/digest/xor
  docs/report-divergence-logs.md
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/keys/client.py
  src/utils/fingerprint.py
  src/web3py/extensions/lido_validators.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

refactor: remove bucket_digests
  docs/report-divergence-logs.md
  src/utils/fingerprint.py
  tests/utils/test_fingerprint.py
Due: isort-poetry, mypy, pylint

refactor: drop the rejection cap and the Keys API self-consistency check
  docs/report-divergence-logs.md
  src/providers/keys/client.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

refactor: drop the BLS startup self-check
  docs/report-divergence-logs.md
  src/runtime.py
  src/services/deposit_signature_verification.py
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry, mypy, pylint

fix: put the ordered and unordered deposit digests on one line
  docs/report-divergence-logs.md
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

fix: make digest and queue_digest cover the same fields
  docs/report-divergence-logs.md
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

refactor: fingerprint the inputs only, and cover the Keys API operators
  docs/report-divergence-logs.md
  src/modules/oracles/accounting/accounting.py
  src/providers/keys/client.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

feat: log what each Keys API instance answered
  src/providers/http_provider.py
  src/providers/keys/client.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

feat: bump version
  pyproject.toml
Due: none

fix: docker-image build
  .dockerignore
Due: none

fix: build the image from a checkout without submodules
  Dockerfile
  README.md
  scripts/build_blst.sh
Due: none

fix: reject uncompressed BLS encodings in deposit signature validation
  src/services/deposit_signature_verification.py
  stubs/blst/__init__.pyi
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry, mypy, pylint

fix: weight 0 handling
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: tight kapi check
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

feat: add ultimative test
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
