Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: refactor
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: remove doc
  docs/cl-rebase.md
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: revert balance tests
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry

fix: reforge `_fulfill_state`
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  src/variables.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

refactor: `_count_active_epochs`
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: review
  README.md
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

fix: filter out front run deposits
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

Update src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: comments
  src/providers/execution/contracts/lido.py
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: reuse front-run detection
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: remove caching
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: change comment
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

Update src/web3py/extensions/lido_validators.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

refactor: rearrange methods
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: deep refactor state and base
  README.md
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  src/providers/performance/client.py
  src/variables.py
  tests/fork/conftest.py
  tests/fork/test_staking_module_oracle_cycle.py
  tests/main/test_main_cycle_smoke.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

fix: web3 in fork tests
  tests/fork/conftest.py
Due: isort-poetry

fix: remove `is_fulfilled`
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

refactor: `push_epochs_demand`, add `check_report_range_availability`
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: test for performance provider
  tests/providers/performance/test_client.py
Due: isort-poetry

fix: set `PERFORMANCE_COLLECTOR_EPOCHS_BATCH_SIZE` to 225
  README.md
  src/variables.py
Due: isort-poetry, mypy, pylint

refactor: use iterator for `get_epochs_data`
  src/providers/performance/client.py
  tests/providers/performance/test_client.py
Due: isort-poetry, mypy, pylint

fix: review
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: update reserve-deposit logic
  README.md
  docker-compose.yml
  src/modules/oracles/ejector/ejector.py
  src/providers/execution/contracts/withdrawal_queue_nft.py
  src/variables.py
  tests/integration/contracts/test_withdrawal_queue_nft_contract.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: review
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: add caching for `_get_last_report`
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: update pool class for fork tests
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: db in fork tests
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: AI review
  src/modules/oracles/staking_modules/base.py
  src/providers/performance/client.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

fix(orc-704): bump curl
  Dockerfile
Due: none

feat(orc-704): remove unused car converter methods after storacha remove
  src/utils/car/__init__.py
  src/utils/car/converter.py
  tests/utils/test_car_converter.py
Due: isort-poetry, mypy, pylint

feat(orc-704): update dependencies
  poetry.lock
  pyproject.toml
Due: none

feat: Support Glamsterdam block structure
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/modules/sidecars/performance/collector/collector.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/safe_border.py
  src/services/staking_vaults.py
  src/services/withdrawal.py
  src/utils/blockstamp.py
  src/utils/slot.py
  tests/factory/configs.py
  tests/main/test_main_cycle_smoke.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_safe_border_integration.py
  tests/modules/accounting/test_safe_border_unit.py
  tests/modules/accounting/test_withdrawal_unit.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/modules/submodules/test_oracle_module.py
  tests/services/test_safe_border.py
Due: isort-poetry, mypy, pylint

feat(orc-704): remove unused method DutyAccumulator.add_duty
  src/modules/oracles/staking_modules/common/state.py
Due: isort-poetry, mypy, pylint

fix: localhost by default in Performance Web server API
  README.md
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(orc-704): remove MidtermSlashingPenalty.get_bound_with_midterm_epoch_slashed_validators as unused
  src/services/bunker_cases/midterm_slashing_penalty.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

fix: fails in CI
  Dockerfile
  src/modules/common/daemon_module.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/staking_modules/base.py
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

Potential fix for pull request finding
  src/modules/oracles/common/consensus.py
Due: isort-poetry, mypy, pylint

Potential fix for pull request finding
  src/utils/blockstamp.py
Due: isort-poetry, mypy, pylint
