Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

fix: remarks
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/oracles/staking_modules/common/log.py
  src/modules/sidecars/performance/common/db.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_log.py
  tests/modules/sidecars/performance/common/test_db.py
Due: isort-poetry, mypy, pylint

fix: retry on stream
  src/providers/consensus/client.py
  src/providers/http_provider.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

fix: remove get_staking_module from SR interface
  src/providers/execution/contracts/staking_router.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/conftest.py
Due: isort-poetry, mypy, pylint

chore: add new alerts
  docs/alerts.md
  docs/monitoring/alerts.yml
  tests/integration/contracts/test_lido.py
Due: isort-poetry

feat: Improve vebo tests
  .gitignore
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_sweep.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

fix: logging demand in json serializable object
  src/modules/sidecars/performance/collector/collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

feat: allow non-zero rebate when zero distribution
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: reformat
  tests/modules/ejector/test_sweep.py
Due: isort-poetry

fix: address copilot
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_sweep.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

feat: 1 more test
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

chore: uvicorn log_config to use logging module
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

fix: replace `get_buffered_ether` to `get_withdrawals_reserve`
  src/modules/oracles/ejector/ejector.py
  src/providers/execution/contracts/lido.py
  src/services/withdrawal.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/contracts/test_lido.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

Apply suggestions from code review
  src/services/withdrawal.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: fix docker, export modules
  docker-compose.yml
  docs/development.md
  pyproject.toml
Due: none

feat: mutation tests
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
Due: none

fix: fix tests
  Makefile
  docs/testing.md
  pyproject.toml
  tests/services/test_safe_border.py
Due: isort-poetry

fix: skip pending consolidations with slashed source validator
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/common/db.py
  src/providers/execution/contracts/lido.py
  src/web3py/extensions/lido_validators.py
  tests/execution/contracts/test_contract_transformations.py
  tests/modules/ejector/test_ejector.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

fix: amount of bytes in no meta data
  src/providers/execution/contracts/meta_registry.py
  src/web3py/extensions/lido_validators.py
  tests/execution/contracts/test_contract_transformations.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

feat: add TELEMETRY_DATA_BUS_RPC
  docker-compose.yml
Due: none

feat: add ipfs envs
  docker-compose.yml
Due: none

feat: updage ipfs envs in workflows
  .github/workflows/ci-daily-checks.yml
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
Due: none

feat: updated exit iterator - support meta groups
  src/constants.py
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: review changes
  src/providers/execution/contracts/curated_staking_module.py
  src/providers/execution/contracts/meta_registry.py
  src/services/exit_order_iterator.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/contracts/test_curated_staking_module.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: modify test for edgecase
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

chore: bump version
  pyproject.toml
Due: none

feat: add chain_id to telemetry
  src/web3py/extensions/telemetry_data_bus.py
  tests/fork/test_telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

chore: fix sqlite fixture
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: fix abnormal rebase
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: address copilot
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: revert raise
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: add force limit withdrawal
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: fix delegation fork test
  tests/fork/test_delegation.py
Due: isort-poetry

feat(orc-686): add names checking not only types
  src/constants.py
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-686): improve tests
  src/constants.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-686): rename test
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

feat(orc-686): align hoodi testnet with mainnet
  src/constants.py
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

fix: no wq pressure, type cast
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: external validator weight calculation
  .gitignore
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

fix: change logic
  docs/cl-rebase.md
  src/providers/execution/contracts/lido.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
