Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat: add versions to perf logs (#819)
  src/constants.py
  src/modules/csm/csm.py
  src/modules/csm/distribution.py
  src/modules/csm/log.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_log.py
Due: isort-poetry, mypy, pylint

feat: add lru_cache for `calculate_distribution`
  src/modules/csm/csm.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: exit iterator move to effective balance
  src/providers/consensus/types.py
  src/providers/execution/contracts/__init__.py
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/exit_order_iterator.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

feat: add lru_cache for `calculate_distribution` (#820)
  src/modules/csm/csm.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: cleanup unused code
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_helpers.py
Due: isort-poetry, mypy, pylint

feat: v7.0.0
  pyproject.toml
Due: none

feat: tweak wf
  .github/workflows/ci-prod.yml
Due: none

chore(release): 7.0.1
  pyproject.toml
Due: none

chore(release): 7.0.0
  CHANGELOG.md
Due: none

fix: review
  src/main.py
  src/modules/csm/csm.py
  src/modules/csm/state.py
  src/modules/performance/collector/checkpoint.py
  src/modules/performance/collector/collector.py
  src/modules/performance/common/db.py
  src/modules/performance/web/middleware.py
  src/modules/performance/web/server.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: errors
  src/modules/performance/common/db.py
  src/modules/performance/web/middleware.py
  src/modules/performance/web/server.py
Due: isort-poetry, mypy, pylint

fix: black
  tests/fork/test_csm_oracle_cycle.py
  tests/modules/csm/test_csm_module.py
  tests/modules/performance_collector/test_performance_collector.py
Due: isort-poetry

fix: tests
  src/modules/performance/collector/checkpoint.py
  src/modules/performance/collector/collector.py
  tests/modules/performance_collector/test_checkpoint.py
  tests/modules/performance_collector/test_performance_collector.py
  tests/modules/performance_collector/test_processing_attestation.py
Due: isort-poetry, mypy, pylint

fix: tests after merge
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

fix: pylint
  src/modules/csm/csm.py
  src/modules/performance/common/db.py
  tests/fork/conftest.py
  tests/fork/test_csm_oracle_cycle.py
Due: isort-poetry, mypy, pylint

fix: mypy
  src/main.py
  src/modules/csm/csm.py
  src/modules/performance/common/db.py
  src/modules/performance/web/middleware.py
  tests/fork/conftest.py
Due: isort-poetry, mypy, pylint

feat: Gunicorn
  poetry.lock
  pyproject.toml
  src/modules/performance/web/server.py
  src/variables.py
  tests/modules/performance_collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

fix: linter
  src/constants.py
  src/main.py
  src/modules/checks/suites/common.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  src/modules/sidecars/performance/collector/collector.py
  src/web3py/extensions/staking_module.py
  tests/fork/test_csm_oracle_cycle.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/performance_collector/test_checkpoint.py
  tests/modules/performance_collector/test_performance_collector.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix: ts instead block nums for stvault fees
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fees.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
Due: isort-poetry, mypy, pylint

fix: fork tests
  .github/workflows/ci-daily-checks.yml
  src/modules/oracles/staking_modules/base.py
  tests/fork/test_csm_oracle_cycle.py
  tests/modules/csm/test_csm_module.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

feat: support two modules for `check` and fork tests
  .env.example
  .github/workflows/ci-daily-checks.yml
  docker-compose.yml
  src/modules/checks/checks_module.py
  src/modules/checks/suites/common.py
  src/modules/checks/suites/conftest.py
  src/modules/sidecars/performance/collector/collector.py
  src/variables.py
  src/web3py/extensions/staking_module.py
  tests/fork/conftest.py
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry, mypy, pylint

fix: tests and etc.
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
  README.md
  docs/development.md
  src/modules/checks/suites/conftest.py
  tests/conftest.py
  tests/modules/csm/conftest.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

Allow manual trigger of the release pipeline
  .github/workflows/create-tag-and-trigger-deploy.yml
Due: none

feat: Remove pylint
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Makefile
  docs/development.md
  poetry.lock
  pyproject.toml
  src/providers/ipfs/__init__.py
  src/services/exit_order_iterator.py
  src/utils/api/__init__.py
  src/utils/car/__init__.py
  src/web3py/extensions/__init__.py
  tests/modules/accounting/staking_vault/conftest.py
  tests/modules/accounting/staking_vault/test_fees.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_log.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/modules/submodules/consensus/test_reports.py
  tests/utils/test_slot.py
  tests/web3py/test_ipfs.py
Due: isort-poetry, mypy, pylint

chore: add gitattributes for consistent line endings
  .gitattributes
Due: none

test: Test
  .github/workflows/tests.yml
Due: none

chore: Reformatting
  poetry.lock
  tests/e2e/conftest.py
  tests/fork/test_csm_oracle_cycle.py
  tests/fork/test_lido_oracle_cycle.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry

chore: remove .vscode from git and add to .gitignore
  .gitignore
  .vscode/settings.json
Due: none

feat: add topups to ejector sumup
  src/modules/accounting/types.py
  src/modules/ejector/ejector.py
Due: isort-poetry, mypy, pylint

feat: Upgrade to python 3.14
  .github/workflows/tests.yml
  .vscode/settings.json
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Add environemnt
  .github/workflows/create-tag-and-trigger-deploy.yml
Due: none

fix: Remove environment from the deploy-trigger
  .github/workflows/create-tag-and-trigger-deploy.yml
Due: none

feat: use slots and timestamps
  src/modules/accounting/events.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/conftest.py
  tests/modules/accounting/staking_vault/test_fees.py
  tests/modules/accounting/staking_vault/test_staking_vault_events.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
Due: isort-poetry, mypy, pylint

ci: use stable foundry
  .github/workflows/mainnet_fork_tests.yml
Due: none

test: add more test for empty slots
  tests/modules/accounting/staking_vault/test_fees.py
Due: isort-poetry

test: use calc_fee_value to improve assertions
  tests/modules/accounting/staking_vault/test_fees.py
Due: isort-poetry

feat: basic mutmut integration added
  .gitignore
  docs/testing.md
  poetry.lock
  pyproject.toml
Due: none
