Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: remove types
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

feat(orc-535): fix check_contract
  tests/integration/contracts/test_accounting_oracle.py
  tests/integration/contracts/test_base_oracle.py
  tests/integration/contracts/test_bunker.py
  tests/integration/contracts/test_cs_accounting.py
  tests/integration/contracts/test_cs_fee_distributor.py
  tests/integration/contracts/test_cs_fee_oracle.py
  tests/integration/contracts/test_cs_module.py
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/integration/contracts/test_cs_strikes.py
  tests/integration/contracts/test_hash_consensus.py
  tests/integration/contracts/test_lazy_oracle.py
  tests/integration/contracts/test_lido.py
  tests/integration/contracts/test_lido_locator.py
  tests/integration/contracts/test_oracle_daemon_config.py
  tests/integration/contracts/test_oracle_report_sanity_checker.py
  tests/integration/contracts/test_staking_router.py
  tests/integration/contracts/test_validator_exit_bus_oracle.py
  tests/integration/contracts/test_withdrawal_queue_nft_contract.py
Due: isort-poetry

feat(orc-535): improve test
  tests/modules/accounting/test_safe_border_unit.py
Due: isort-poetry

fix: correct per module and vaults
  src/modules/oracles/accounting/accounting.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

fix: is_gloas_active
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

fix: rename to gloas
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

fix: ignore buuilder_pending_withdrawals
  src/modules/oracles/ejector/sweep.py
  tests/modules/ejector/test_sweep.py
Due: isort-poetry, mypy, pylint

feat(orc-112): add final tests before image publishing
  .github/workflows/ci-dev.yml
  .github/workflows/ci-prod.yml
  .github/workflows/ci-staging.yml
  Dockerfile
Due: none

feat(orc-112): fix
  .github/workflows/ci-dev.yml
  .github/workflows/ci-prod.yml
  .github/workflows/ci-staging.yml
Due: none

fix(docs): update reproducible builds doc
  docs/reproducible-builds.md
  pyproject.toml
Due: none

feat(doc-2): fix(docs): update reproducible builds doc
  docs/reproducible-builds.md
  pyproject.toml
Due: none

feat(orc-112): refactor
  .github/workflows/ci-dev.yml
  .github/workflows/ci-prod.yml
  .github/workflows/ci-staging.yml
  Dockerfile
Due: none

fix: Fix bugs on devnet
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

feat: Invariants on Oracles evaluation
  docs/oracle-eval-guide.md
Due: none

fix: v2 csm endpoint
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

fix: fix abnormal cl rebase calculation
  src/modules/oracles/accounting/types.py
  src/providers/execution/contracts/lido.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: diff in between slots
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/execution/contracts/test_contract_transformations.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: add comment for performance-web
  docker-compose.yml
Due: none

fix: rebase fix, validation of distant_slot
  src/services/bunker.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: - current
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix: comments
  src/providers/execution/contracts/lido.py
  src/services/bunker_cases/abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

feat: comments
  src/modules/oracles/accounting/types.py
Due: isort-poetry, mypy, pylint

fix: move _validate_prev_slot_within_ref_frame later in the call stack
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

chore(release): 8.1.0
  pyproject.toml
Due: none

chore(release): 8.0.2
  pyproject.toml
Due: none

fix: fix get_all_groups
  src/providers/execution/contracts/meta_registry.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/contracts/test_meta_registry.py
Due: isort-poetry, mypy, pylint

feat(orc-112): add feature to skip tests on deploy + common test action
  .github/actions/test-image/action.yml
  .github/workflows/ci-dev.yml
  .github/workflows/ci-prod.yml
  .github/workflows/ci-staging.yml
  .github/workflows/create-tag-and-trigger-deploy.yml
  .github/workflows/tests.yml
Due: none

fix: Fix sweep calculation for validators to eject
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: sort values before creating tree
  src/modules/oracles/staking_modules/common/tree.py
  tests/modules/csm/test_tree.py
Due: isort-poetry, mypy, pylint

fix: curl version
  Dockerfile
Due: none

Potential fix for pull request finding
  tests/modules/csm/test_tree.py
Due: isort-poetry

fix(orc-748): VEE-DEMAND-03 — Exact withdrawal coverage ejects one additional validator
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: rework correction, fix churn as well
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

feat(orc-748): fix(orc-748): fix curl
  Dockerfile
  pyproject.toml
Due: none

feat: add id 0 test
  tests/execution/contracts/test_contract_transformations.py
Due: isort-poetry

fix: update curl
  Dockerfile
Due: none

test: cover capped balance handling for going-to-exit validators
  tests/modules/ejector/test_ejector.py
Due: isort-poetry

chore(release): 8.0.3
  pyproject.toml
Due: none

fix: use quantized effective balance for churn/exit-epoch prediction
  src/modules/oracles/ejector/ejector.py
  src/utils/validator_balance.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint
