Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

fix: linter
  tests/modules/sidecars/performance/collector/test_checkpoint.py
Due: isort-poetry

chore: devnet-01 preparations
  assets/StakingRouter.json
  src/modules/accounting/types.py
  src/services/exit_order_iterator.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

wip: extra data type 3
  src/modules/accounting/accounting.py
  src/modules/accounting/third_phase/extra_data.py
  src/modules/accounting/third_phase/types.py
  src/modules/accounting/types.py
  src/types.py
  tests/modules/accounting/test_extra_data.py
Due: isort-poetry, mypy, pylint

feat: pending deposits calculation
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry, mypy, pylint

feat: add unit test command to Makefile
  Makefile
  src/modules/checks/suites/conftest.py
Due: isort-poetry, mypy, pylint

feat: implement StakingModule and module type filtering in accounting
  assets/IStakingModule.json
  src/modules/accounting/accounting.py
  src/providers/execution/contracts/staking_router.py
  src/types.py
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry, mypy, pylint

fix: lints
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry

fix: prevent negative prev_ref_slot when initial_epoch is zero
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
Due: isort-poetry, mypy, pylint

chore: update src/services/staking_vaults.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: update balance calculations to use effective balances for operators
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry, mypy, pylint

Revert "feat: update balance calculations to use effective balances for operators"
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry, mypy, pylint

refactor: merge operator balances into single sum (validator CL + pending) in extra data phase 3
  src/modules/accounting/accounting.py
  src/modules/accounting/third_phase/extra_data.py
  src/modules/accounting/third_phase/types.py
  src/types.py
  tests/modules/accounting/test_extra_data.py
  tests/modules/accounting/test_pending_balances.py
Due: isort-poetry, mypy, pylint

feat: version bump
  CHANGELOG.md
  pyproject.toml
Due: none

feat(orc-483): add delegation support
  assets/DelegationContract.json
  src/main.py
  src/providers/execution/contracts/delegation_contract.py
  src/variables.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/delegation.py
  src/web3py/extensions/tx_utils.py
  src/web3py/types.py
Due: isort-poetry, mypy, pylint

fix: correct from block for new deploys
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
Due: isort-poetry, mypy, pylint

fix: shutdown
  src/modules/common/daemon_module.py
  src/modules/common/graceful_shutdown.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/staking_modules/base.py
  tests/main/test_main_cycle_smoke.py
  tests/modules/csm/test_csm_module.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

fix: docker compose
  docker-compose.yml
Due: none

fix: update operator balance module types to exclude COMMUNITY_ONCHAIN_V1_TYPE
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix: slots_elapsed slot calculations
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

feat(orc-483): add tests
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/contracts/test_delegation_contract.py
  tests/web3py/test_delegation_module.py
Due: isort-poetry

feat(orc-483): ruff fix
  tests/conftest.py
  tests/integration/contracts/test_delegation_contract.py
  tests/web3py/test_delegation_module.py
Due: isort-poetry

fix: potential negative first ref slot
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

fix: poetry version in ci
  .github/workflows/tests.yml
Due: none

feat(orc-614): add oracle onchain telemetry
  assets/DataBus.json
  src/main.py
  src/modules/submodules/consensus.py
  src/providers/execution/contracts/data_bus.py
  src/utils/transaction.py
  src/variables.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/telemetry_data_bus.py
  src/web3py/extensions/tx_utils.py
  src/web3py/types.py
  tests/conftest.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat: fix test and resolve poetry deps
  poetry.lock
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
Due: isort-poetry

fix: missed __init__ and constants tweak
  src/constants.py
  src/modules/common/__init__.py
Due: isort-poetry, mypy, pylint

fix: port for performance_web_server on fork tests. skip if not updated
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: update lockfile
  poetry.lock
Due: none

fix: `FORGE_REV` for ci
  .github/workflows/mainnet_fork_tests.yml
Due: none

fix: skip fork tests on different version
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: flaky reproducibility
  .github/workflows/docker_build_reproducibility.yml
  Dockerfile
Due: none

feat: add smoke checks for fork rpc
  tests/fork/conftest.py
Due: isort-poetry

feat(orc-614): add validation + Web3 setup
  src/constants.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add new tests
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): linters
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix linter
  src/utils/transaction.py
Due: isort-poetry, mypy, pylint

feat(orc-614): merge fix
  src/web3py/extensions/tx_utils.py
  src/web3py/types.py
Due: isort-poetry, mypy, pylint

feat(orc-614): Update readme
  README.md
Due: none

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
