Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

chore(LazyOracle): update ABI
  assets/LazyOracle.json
Due: none

fix(vaults): add inOutDelta for batching vaults method
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

fix(lazyOracle): get vaultTotalCount
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/vault_hub.py
  tests/providers/test_lazy_oracle.py
Due: isort-poetry, mypy, pylint

fix(lazyOracle): get vaultTotalCount
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

chore(vaults): fix reporting
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/vault_hub.py
Due: isort-poetry, mypy, pylint

chore: fix formating
  src/modules/accounting/staking_vaults.py
  src/providers/execution/contracts/vault_hub.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_pending_deposits.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lido.py
Due: isort-poetry, mypy, pylint

fix(vaultHub): get events
  src/providers/execution/contracts/vault_hub.py
  tests/conftest.py
Due: isort-poetry, mypy, pylint

fix(vauts): restore unit tests
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lido.py
  tests/integration/contracts/test_accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_pending_deposits.py
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lazy_oracle.py
  tests/providers/test_lido.py
  tests/providers/test_vault_hub.py
Due: isort-poetry, mypy, pylint

fix(vaults): run black for tests
  tests/conftest.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lazy_oracle.py
Due: isort-poetry

fix(vaults): tests
  src/providers/execution/contracts/lido.py
  tests/integration/contracts/test_vault_hub.py
  tests/modules/accounting/bunker/test_bunker.py
  tests/modules/submodules/consensus/test_reports.py
  tests/providers/test_lido.py
Due: isort-poetry, mypy, pylint

fix(vaults): tests
  tests/conftest.py
Due: isort-poetry

fix(vaults): fix pylint
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

tets(vaults): trying get apr
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
Due: isort-poetry

feat: recalculate fees
  src/modules/accounting/accounting.py
  src/utils/apr.py
Due: isort-poetry, mypy, pylint

tets(vaults): trying get apr
  src/utils/apr.py
Due: isort-poetry, mypy, pylint

chore: rearrange fees and take vault_liquidity_fee into account
  src/modules/accounting/accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
Due: isort-poetry, mypy, pylint

feat: use private relays to submit transactions
  README.md
  assets/NodeOperatorRegistry.json
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/submodules/consensus.py
  src/providers/execution/contracts/staking_module.py
  src/variables.py
  src/web3py/extensions/tx_bundle.py
  tests/integration/conftest.py
  tests/integration/contracts/test_node_operator_registry.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/submodules/consensus/test_reports.py
  tests/web3py/test_tx_bundle.py
Due: isort-poetry, mypy, pylint

chore: add tags for tests
  tests/modules/accounting/test_accounting_module.py
  tests/web3py/test_tx_bundle.py
Due: isort-poetry

chore: bump version
  pyproject.toml
Due: none

chore(release): 5.2.0
  pyproject.toml
Due: none

chore: update fees calculation
  src/modules/accounting/accounting.py
  src/utils/apr.py
Due: isort-poetry, mypy, pylint

tets(vaults): get fees
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat(vaults): fees review
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

feat(vaults): removed publish proof
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): removed parsing proofs
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

fix(vaults): parsing extraValue
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

fix(vaults): write inOutDelta as str
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): format leafIndexToData
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

test(vaults): fee
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test(vaults): set reserve_ratioBP, forced_rebalance_thresholdBP, infra_feeBP, liquidity_feeBP, reservation_feeBP
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test(vaults): set liability_shares for prev report
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

chore: after fees review
  src/modules/accounting/accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: fix mapping error
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

test(vaults): fix actual fees for staking vaults
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

test(vaults): skip TestStakingVaultsSmoke
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
Due: isort-poetry

test(vaults): fix test_hash_calculations
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry

feat(vault-pectra): move part of test_lido_locator_contract to testnet
  tests/integration/contracts/test_lido_locator.py
Due: isort-poetry

fix: contract version + readme image + var name
  README.md
  src/modules/accounting/accounting.py
  src/variables.py
Due: isort-poetry, mypy, pylint
