Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

test(gloas): cover the in-flight correction at the vault total value
  tests/modules/accounting/staking_vault/test_total_values.py
Due: isort-poetry

refactor(gloas): trim the comments to the non-obvious parts
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/conftest.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_gloas_correction.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

fix(gloas): stop counting in-flight withdrawals twice in the ejector
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/conftest.py
  tests/factory/consensus.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_gloas_correction.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

docs(gloas): describe builder indices as the spec does
  src/providers/consensus/types.py
  tests/modules/accounting/test_gloas_correction.py
Due: isort-poetry, mypy, pylint

refactor(gloas): trim the comments to the non-obvious parts
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/test_gloas_correction.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

refactor(gloas): make the in-flight add-back its own term
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

feat(gloas): EIP-8061 exit churn limit and EIP-7732 sweep-delay for ejector
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/utils/validator_state.py
  tests/factory/configs.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

fix(gloas): gate the ejector fork paths on the anchor block's epoch
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

refactor(gloas): trim the comments to the non-obvious parts
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/sweep.py
  src/utils/validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

fix(gloas): identify bunker CL rebase samples by state root
  src/services/bunker_cases/abnormal_cl_rebase.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry, mypy, pylint

fix(gloas): derive the event lookback cutoff from the reference slot
  src/services/exit_order_iterator.py
  src/services/prediction.py
  src/services/validator_state.py
  src/utils/events.py
  tests/modules/accounting/test_validator_state.py
  tests/utils/test_events.py
Due: isort-poetry, mypy, pylint

feat(gloas): prefer proposer-duties v2 endpoint with relaxed v1 fallback
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

fix(gloas): read EIP-8061 churn parameters from the CL config spec
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/providers/consensus/types.py
  src/utils/validator_state.py
  tests/factory/configs.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_gloas_ejector.py
Due: isort-poetry, mypy, pylint

fix(stc-892): port the 8.0.6 VEBO gas clamp onto develop
  README.md
  pyproject.toml
  src/constants.py
  src/services/exit_order_iterator.py
  src/utils/transaction.py
  src/variables.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

fix(gloas-devnet): stub the in-flight sum in the bunker CL-sample tests
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry

test(glamsterdam): reconcile the scenario framework with the ePBS blockstamp rework
  pyproject.toml
  tests/fork/test_glamsterdam_layer2.py
  tests/scenarios/replay.py
  tests/scenarios/test_accounting_scenarios.py
  tests/scenarios/test_ejector_scenarios.py
  tests/scenarios/test_glamsterdam_cassette.py
Due: isort-poetry

test(glamsterdam): follow the blockstamp API off BlockstampBuilder
  scripts/glamsterdam_preflight.py
  scripts/record_oracle_scenario_cassette.py
  tests/fork/test_glamsterdam_layer2.py
  tests/scenarios/replay.py
  tests/scenarios/test_accounting_scenarios.py
  tests/scenarios/test_glamsterdam_cassette.py
Due: isort-poetry

chore(release): 8.1.0
  pyproject.toml
Due: none

chore(release): 8.0.7
  pyproject.toml
Due: none

revert: back out the 8.0.7 release and the csm_0x02 module
  .env.example
  README.md
  agents.md
  docker-compose.yml
  docs/development.md
  docs/monitoring/README.md
  docs/monitoring/alerts.yml
  docs/monitoring/prometheus.yml
  pyproject.toml
  src/main.py
  src/modules/oracles/staking_modules/community_staking_0x02/__init__.py
  src/modules/oracles/staking_modules/community_staking_0x02/csm_0x02.py
  src/modules/oracles/staking_modules/community_staking_0x02/entrypoint.py
  src/types.py
  src/variables.py
  tests/main/test_main_dispatch.py
Due: isort-poetry, mypy, pylint

fix(accounting): refresh signer before extra data submission and reword member warning
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry, mypy, pylint

chore(compose): pass DELEGATION_CONTRACT_ADDRESS to oracle services
  docker-compose.yml
Due: none

fix(telemetry): return None and log a warning when the DataBus transaction is not confirmed in time
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

chore(release): 8.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: relax the container healthcheck budgets
  Dockerfile
  docker-compose.yml
Due: none

feat: fixing the consolidation amount. Remove predictable_inbound_sweep
  src/utils/validator_balance.py
  src/web3py/extensions/lido_validators.py
  tests/modules/ejector/test_ejector.py
  tests/utils/test_validator_balance.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

fix: keep proposer duties v1 dependent_root check strict
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

feat(gloas): proposer-duties v2 endpoint
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint
