Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

chore: mark cs_module check with pytest.mark.mainnet
  tests/integration/contracts/test_cs_module.py
Due: isort-poetry

chore: move distributed_so_far update
  src/modules/csm/distribution.py
Due: isort-poetry, mypy, pylint

refactor: make frames a property
  src/modules/csm/state.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

test: add smoke for csm extension
  tests/integration/contracts/test_csm_extension.py
Due: isort-poetry

feat(csm-v2): fix infinite recursion
  src/web3py/extensions/csm.py
Due: isort-poetry, mypy, pylint

chore: update CSM abis
  assets/CSAccounting.json
  assets/CSFeeDistributor.json
  assets/CSFeeOracle.json
  assets/CSModule.json
  assets/CSParametersRegistry.json
  assets/CSStrikes.json
Due: none

feat(csm-v2): speed up csm contracts load for fork tests
  tests/fork/conftest.py
Due: isort-poetry

fix: json-stream base processing
  src/providers/http_provider.py
Due: isort-poetry, mypy, pylint

fix: add `xfail` for `test_lido_module_report`
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

fix: use `skip` instead of `xfail`
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

fix: intervals signature
  src/providers/execution/contracts/cs_parameters_registry.py
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: linter
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

fix: tests with intervals
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix: env parsing for tests
  tests/__init__.py
Due: isort-poetry

feat: add `distributed_rewards` per-validator for logs
  src/modules/csm/distribution.py
  src/modules/csm/log.py
  src/providers/ipfs/public.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_log.py
Due: isort-poetry, mypy, pylint

revert: url
  src/providers/ipfs/public.py
Due: isort-poetry, mypy, pylint

chore: remove branch `feat/oracle-v6` from workflow trigger
  .github/workflows/mainnet_fork_tests.yml
Due: none

feat(orc-372): add stricter marks checking
  Makefile
  tests/conftest.py
  tests/modules/csm/test_csm_module.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

feat(orc-372): update test dependencies
  poetry.lock
  pyproject.toml
Due: none

feat(orc-372): add isort to makefile
  Makefile
  tests/conftest.py
Due: isort-poetry

feat(orc-372): make forktest integration tests
  tests/fork/test_csm_oracle_cycle.py
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

fix: Prysm committees validation
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

feat(orc-372): replace e2e with integration test
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_accounting.py
  tests/main/__init__.py
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

fix: Change wait upgrade message
  src/modules/submodules/consensus.py
Due: isort-poetry, mypy, pylint

feat: Upgrade multi-provider
  poetry.lock
  pyproject.toml
Due: none

feat: fix config name
  src/providers/execution/contracts/oracle_daemon_config.py
Due: isort-poetry, mypy, pylint

feature(vaults): added fees
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/lido.py
  src/providers/execution/contracts/vault_hub.py
  src/utils/apr.py
  src/web3py/extensions/contracts.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_pending_deposits.py
Due: isort-poetry, mypy, pylint

feature(vaults): added fees
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

refactor: Remove get_last_requested_validator_indices
  src/providers/execution/contracts/exit_bus_oracle.py
  tests/integration/contracts/test_validator_exit_bus_oracle.py
  tests/modules/accounting/test_validator_state.py
Due: isort-poetry, mypy, pylint

feat(orc-415): update readme and abis
  .env.example
  .github/CODEOWNERS
  .hadolint.yaml
  CHANGELOG.md
  README.md
  assets/AccountingOracle.json
  assets/Burner.json
  assets/HashConsensus.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleDaemonConfig.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
  assets/WithdrawalQueueERC721.json
  docs/logo.svg
  pyproject.toml
Due: none

feat(orc-416): remove unused functionality and tests
  docs/development.md
  poetry.lock
  pyproject.toml
  src/constants.py
  src/main.py
  src/modules/accounting/third_phase/types.py
  src/modules/csm/csm.py
  src/modules/ejector/ejector.py
  src/providers/ipfs/__init__.py
  src/providers/ipfs/dummy.py
  src/services/exit_order_iterator.py
  src/services/safe_border.py
  src/services/validator_state.py
  src/utils/slot.py
  src/utils/types.py
  src/utils/validator_state.py
  tests/fork/conftest.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/csm/test_checkpoint.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/utils/test_slot.py
  tests/utils/test_types.py
  tests/utils/test_validator_state_utils.py
Due: isort-poetry, mypy, pylint

feature(vaults): added fees
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lido.py
Due: isort-poetry, mypy, pylint

feature(vaults): upgrade v6
  src/modules/accounting/types.py
  src/utils/types.py
  tests/integration/contracts/test_lido_locator.py
Due: isort-poetry, mypy, pylint

feature(vaults): restore ssz, py-ecc
  poetry.lock
  pyproject.toml
Due: none

feature(vaults): added getStakingFeeAggregateDistribution instead of deprecated lidoFeeBP
  src/modules/accounting/accounting.py
  src/providers/execution/contracts/staking_router.py
Due: isort-poetry, mypy, pylint

feature(vaults): ADD slashingReserve calculation
  src/constants.py
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/consensus/client.py
  src/providers/execution/contracts/accounting.py
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

feature(vaults): ADD slashingReserve calculation
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

feature(vaults): ADD py-evm
  poetry.lock
  pyproject.toml
Due: none

feature(vaults): fix VaultHubContract contract
  src/providers/execution/contracts/vault_hub.py
Due: isort-poetry, mypy, pylint

feature(vaults): Removed inOutDelta from report
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/vault_hub.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
