Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: test
  tests/modules/submodules/consensus/conftest.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

fix ports
  docker-compose.testnet.yml
Due: none

refactor(vaults): Add test_infra_fee, test_reservation_liquidity_fee
  src/modules/accounting/accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): calculation of liquidity_fee. Missed last sector for calculation
  src/modules/accounting/accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): calc fees
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): calc fees in decimal
  src/modules/accounting/accounting.py
  src/utils/apr.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

chore: some cleanup
  src/modules/accounting/accounting.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix review attempt 1
  src/constants.py
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/utils/apr.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
  tests/providers/test_lido.py
Due: isort-poetry, mypy, pylint

feat(vaults): temp commit for debugging
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

feat(vaults): cast prevFee to int
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

feat: remove shares burn
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

feat: remove force exit predicate
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

chore(release): 5.3.0
  pyproject.toml
Due: none

feat(vaults): Add decimal for calc fees
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/utils/apr.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

test(vaults): cross testing for taking fees
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat(vaults): get previous report from last processing refSlot
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

fix(vaults): calc vault fees on mainet, tesnet at the first time
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix: csm fork tests
  tests/fork/test_csm_oracle_cycle.py
Due: isort-poetry

fix: `process_attestations`. get `att_bits` once
  src/modules/csm/checkpoint.py
Due: isort-poetry, mypy, pylint

fix: remove `stone` feature from `strikes` tree
  src/modules/csm/csm.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

fix(vaults): rename constants for getting slashing period
  src/constants.py
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): use PRECISION_E27 for taking fees
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/utils/apr.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): move fees into staking_vaults
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore(vaults): black formatting
  tests/utils/test_apr.py
Due: isort-poetry

chore(vaults): black formatting
  tests/providers/test_lido.py
Due: isort-poetry

fix(vaults): test apr by using 27 decimals instead of 28
  tests/utils/test_apr.py
Due: isort-poetry

fix: compose file for csm
  docker-compose.testnet.yml
Due: none

fix(vaults): review marks
  src/constants.py
  src/metrics/prometheus/accounting.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/lido.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lido.py
Due: isort-poetry, mypy, pylint

fix: call healthcheck server pulse with timeout reset to avoid bad container status
  src/modules/submodules/oracle_module.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

fix(vaults): review marks
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

chore(vaults): fix lint
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

chore(vaults): fix lint
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix(vaults): fix VaultInfo getting inOutDelta
  src/providers/execution/contracts/lazy_oracle.py
Due: isort-poetry, mypy, pylint

chore(vaults): lint
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): add split up fees into ipfs report
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint
