Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

chore: bump version
  pyproject.toml
Due: none

feat: use lazy oracle to check validator stages
  assets/LazyOracle.json
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/accounting/events.py
  src/modules/accounting/types.py
  src/providers/consensus/client.py
  src/providers/execution/contracts/accounting.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/vault_hub.py
  src/services/staking_vaults.py
  src/utils/apr.py
  src/variables.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

chore: please linter
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: add integration tests for lazy oracle
  src/modules/accounting/accounting.py
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
  src/web3py/extensions/contracts.py
  tests/integration/conftest.py
  tests/integration/contracts/test_accounting.py
  tests/integration/contracts/test_lazy_oracle.py
  tests/integration/contracts/test_vault_hub.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: apply review comments
  README.md
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
  src/variables.py
Due: isort-poetry, mypy, pylint

chore: apply review comments
  src/modules/accounting/accounting.py
  src/services/staking_vaults.py
  src/utils/validator_state.py
  src/web3py/extensions/contracts.py
  tests/integration/contracts/test_lazy_oracle.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/utils/test_validator_state_utils.py
Due: isort-poetry, mypy, pylint

chore: more strict tests
  tests/integration/contracts/contract_utils.py
Due: isort-poetry

chore(release): 6.0.2
  pyproject.toml
Due: none

chore: fixes after review
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

wip: srv3 accounting
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lido.py
  src/utils/deposit_signature.py
Due: isort-poetry, mypy, pylint

fix: h-02 – double counting
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix test
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

Fix
  poetry.lock
  pyproject.toml
  src/modules/accounting/accounting.py
  src/modules/submodules/consensus.py
  src/modules/submodules/types.py
  src/providers/consensus/types.py
  src/utils/deposit_signature.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

Update tests
  assets/AccountingOracle.json
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry

Fix csm test
  tests/integration/contracts/test_cs_parameters_registry.py
Due: isort-poetry

feat: bump ao contract version
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

chore(vaults): add dynamic anvil timeout
  tests/fork/conftest.py
Due: isort-poetry

temp
  .github/workflows/mainnet_fork_tests.yml
Due: none

add logs
  tests/fork/conftest.py
Due: isort-poetry

feat: make lazy load for contracts
  src/modules/submodules/consensus.py
  src/web3py/extensions/contracts.py
  tests/integration/contracts/test_bunker.py
Due: isort-poetry, mypy, pylint

fix: lazy oracle get_validator_stages
  src/providers/execution/contracts/lazy_oracle.py
  tests/conftest.py
  tests/integration/contracts/test_lazy_oracle.py
Due: isort-poetry, mypy, pylint

chore: fix tests
  tests/conftest.py
  tests/integration/contracts/test_lazy_oracle.py
Due: isort-poetry

chore: update pinata gatweay and fix tests
  src/providers/ipfs/pinata.py
  tests/integration/contracts/test_accounting.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
Due: isort-poetry, mypy, pylint

feat(orc-460): Add pinata dedicated gateways support
  README.md
  src/main.py
  src/providers/ipfs/pinata.py
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(orc-460): Add pinata dedicated gateway tests
  src/providers/ipfs/pinata.py
  tests/providers/test_pinata.py
Due: isort-poetry, mypy, pylint

feat(orc-460): fix flaky test
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/integration/contracts/test_lido.py
Due: isort-poetry

feat(orc-460): moved to urlib Retry
  src/providers/ipfs/pinata.py
  tests/providers/test_pinata.py
Due: isort-poetry, mypy, pylint

feat(orc-460): fix flaky test
  tests/integration/contracts/test_lido.py
Due: isort-poetry

feat(orc-460): use urljoins
  src/providers/ipfs/pinata.py
Due: isort-poetry, mypy, pylint

chore(release): 6.0.3
  pyproject.toml
Due: none

feat(orc-460): tests refactor
  tests/providers/ipfs/test_pinata.py
Due: isort-poetry

feat(orc-460): replace f-strings with urljoin in ipfs providers
  src/providers/ipfs/lido_ipfs.py
  src/providers/ipfs/storacha.py
  src/variables.py
  tests/providers/ipfs/test_pinata.py
Due: isort-poetry, mypy, pylint

feat(orc-460): Add IPFS envs to pipelines
  .github/workflows/ci-daily-checks.yml
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
Due: none

feat(orc-460): remove csm update to v2, because csm is already v2
  tests/fork/test_csm_oracle_cycle.py
Due: isort-poetry

feat: separate performance collection and distribution
  poetry.lock
  pyproject.toml
  src/main.py
  src/metrics/prometheus/basic.py
  src/modules/csm/csm.py
  src/modules/performance_collector/__init__.py
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/codec.py
  src/modules/performance_collector/db.py
  src/modules/performance_collector/http_server.py
  src/modules/performance_collector/performance_collector.py
  src/modules/performance_collector/types.py
  src/providers/performance/__init__.py
  src/providers/performance/client.py
  src/types.py
  src/variables.py
  src/web3py/extensions/performance.py
  src/web3py/types.py
  tests/fork/conftest.py
  tests/fork/test_csm_oracle_cycle.py
  tests/modules/csm/test_csm_module.py
  tests/modules/performance_collector/test_checkpoint.py
  tests/modules/performance_collector/test_codec.py
  tests/modules/performance_collector/test_processing_attestation.py
Due: isort-poetry, mypy, pylint

feat(orc-503): port chunking algoritm from kubo
  src/modules/checks/suites/ipfs.py
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-503): refactor
  src/modules/checks/suites/ipfs.py
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-503): use multiformats varint
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-503): Use library ipld_dag_pb
  poetry.lock
  pyproject.toml
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
