Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: narrow exception handling in batch block fetching
  src/utils/block.py
Due: isort-poetry, mypy, pylint

fix: mypy issues
  src/services/exit_order_iterator.py
  src/services/safe_border.py
  src/types.py
Due: isort-poetry, mypy, pylint

fix: Try to bypass args[0]
  src/utils/cache.py
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry, mypy, pylint

fix: account for leap years in SECONDS_IN_YEAR constant
  src/constants.py
  tests/modules/accounting/staking_vault/test_block_timestamps_integration.py
  tests/modules/accounting/staking_vault/test_fee_calculation.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_liquidity_by_events.py
Due: isort-poetry, mypy, pylint

chore: fix flacky test
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

test: improve block timestamp integration tests
  tests/modules/accounting/staking_vault/test_block_timestamps_integration.py
Due: isort-poetry

chore: refact test
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

refactor: simplify fee calculation start point logic
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_start_point.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
Due: isort-poetry, mypy, pylint

test: move pytest.mark.unit to class level and clean up fixtures
  tests/modules/accounting/staking_vault/conftest.py
  tests/modules/accounting/staking_vault/test_fee_calculation.py
  tests/modules/accounting/staking_vault/test_fee_components.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_helpers.py
  tests/modules/accounting/staking_vault/test_fee_liquidity_by_events.py
  tests/modules/accounting/staking_vault/test_get_block_timestamps_synthetic_chain.py
  tests/modules/accounting/staking_vault/test_get_vaults.py
  tests/modules/accounting/staking_vault/test_helpers.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/staking_vault/test_slashing_reserve.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/staking_vault/test_validator_mapping.py
Due: isort-poetry

chore: add retry
  src/modules/submodules/consensus.py
Due: isort-poetry, mypy, pylint

test: refactor vault fee tests with shared helpers
  tests/modules/accounting/staking_vault/conftest.py
  tests/modules/accounting/staking_vault/test_fee_calculation.py
  tests/modules/accounting/staking_vault/test_fee_components.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_helpers.py
  tests/modules/accounting/staking_vault/test_fee_liquidity_by_events.py
  tests/modules/accounting/staking_vault/test_get_block_timestamps_synthetic_chain.py
  tests/modules/accounting/staking_vault/test_get_vaults.py
  tests/modules/accounting/staking_vault/test_helpers.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/staking_vault/test_slashing_reserve.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/staking_vault/test_validator_mapping.py
Due: isort-poetry

fix: refresh_contracts
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: required env vars for init performance DB script
  scripts/init_performance_db.sh
Due: none

feat: add configurable BLOCK_BATCH_SIZE_LIMIT env variable
  README.md
  src/utils/block.py
  src/variables.py
  tests/utils/test_block.py
Due: isort-poetry, mypy, pylint

fix: remove `except Exception`
  src/modules/oracles/common/oracle_module.py
Due: isort-poetry, mypy, pylint

fix: add `_refresh_db_metrics` under lock
  src/modules/sidecars/performance/collector/checkpoint.py
Due: isort-poetry, mypy, pylint

feat: ruff params
  pyproject.toml
Due: none

fix: validate performance collector URI
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

fix: remove unused test imports
  tests/modules/csm/test_log.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry

fix: add monitoring usage notes
  docs/monitoring/README.md
Due: none

fix: _slot_threshold on init
  src/modules/common/daemon_module.py
  src/modules/oracles/common/oracle_module.py
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

fix: _check_compatibility typo
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: make some methods private
  src/modules/oracles/staking_modules/base.py
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

fix: add return types
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

fix: delete_demand + vars
  src/modules/sidecars/performance/common/db.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: refactor web server validation
  src/modules/oracles/staking_modules/base.py
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  src/providers/performance/client.py
Due: isort-poetry, mypy, pylint

fix: tests
  tests/fork/test_staking_module_oracle_cycle.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_ejector.py
  tests/modules/performance_collector/test_performance_collector.py
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

fix: docker-compose
  docker-compose.yml
Due: none

refactor: _make_rewards_tree. stone logic
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: black
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

fix: revert cases change
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: linters
  src/modules/common/types.py
  src/modules/sidecars/performance/common/db.py
  src/providers/http_provider.py
  tests/fork/test_staking_module_oracle_cycle.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/ejector/test_ejector.py
  tests/modules/performance_collector/test_checkpoint.py
  tests/modules/performance_collector/test_performance_collector.py
  tests/modules/performance_collector/test_processing_attestation.py
Due: isort-poetry, mypy, pylint

fix: Fun CI only on changed files
  .github/workflows/tests.yml
  pyproject.toml
Due: none

fix: Update compare script
  .github/workflows/tests.yml
Due: none

fix: Revert test changes
  src/modules/csm/checkpoint.py
  src/web3py/extensions/ipfs.py
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry, mypy, pylint

fix: @functools.wraps
  src/utils/cache.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: exclude not active validators. using batches for fetching data
  src/modules/oracles/staking_modules/base.py
  src/providers/performance/client.py
  src/variables.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: one more test for `_fulfill_state`
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

feat: array fields can't have null value
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint
