Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat: review impr
  assets/CuratedStakingModule.json
  assets/MetaRegistry.json
  src/constants.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/ejector/data_encode.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/providers/execution/contracts/curated_staking_module.py
  src/providers/execution/contracts/meta_registry.py
  src/providers/keys/client.py
  src/providers/keys/types.py
  src/services/exit_order_iterator.py
  src/services/validator_state.py
  src/utils/dataclass.py
  src/web3py/extensions/lido_validators.py
  tests/factory/no_registry.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_validator_state.py
  tests/providers_clients/test_keys_api_client.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

fix: linters
  src/constants.py
  src/modules/oracles/ejector/data_encode.py
  src/providers/execution/contracts/meta_registry.py
  src/providers/keys/types.py
  src/services/exit_order_iterator.py
  src/utils/dataclass.py
Due: isort-poetry, mypy, pylint

feat(orc-356): add .ruff_cache to dockerignore
  .dockerignore
Due: none

fix: test_accounting_module tests
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

fix: test_validator_state tests
  tests/modules/accounting/test_validator_state.py
Due: isort-poetry

fix: lido_key to snake_case tests
  tests/modules/csm/test_csm_distribution.py
  tests/providers_clients/test_keys_api_client.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry

fix: telemetry tests
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry

fix: various tests
  src/constants.py
  src/modules/oracles/ejector/data_encode.py
  src/services/exit_order_iterator.py
  src/services/validator_state.py
  tests/factory/no_registry.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_data_encode.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat: improve uninit field
  src/services/exit_order_iterator.py
  src/web3py/extensions/lido_validators.py
  tests/factory/no_registry.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

feat(orc-649): add basic review instructions for copilot
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  .github/instructions/oracle-logic.instructions.md
  .github/instructions/python-quality.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing.instructions.md
Due: none

feat(orc-649): improve copilot instructions
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  .github/instructions/oracle-logic.instructions.md
  .github/instructions/python-quality.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing.instructions.md
Due: none

fix: remarks
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

fix: use `max_epoch_in_db`
  src/modules/sidecars/performance/collector/collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

Update tests/modules/sidecars/performance/collector/test_performance_collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry

Update src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

fix: fix copilot comments
  src/providers/execution/contracts/meta_registry.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/contracts/test_base_oracle.py
  tests/integration/contracts/test_bunker.py
  tests/integration/contracts/test_curated_staking_module.py
  tests/integration/contracts/test_hash_consensus.py
  tests/integration/contracts/test_meta_registry.py
Due: isort-poetry, mypy, pylint

fix: fix tests
  src/providers/execution/contracts/staking_router.py
  src/providers/execution/contracts/vault_hub.py
  tests/integration/conftest.py
  tests/integration/contracts/contract_utils.py
  tests/integration/contracts/test_base_oracle.py
  tests/integration/contracts/test_curated_staking_module.py
  tests/integration/contracts/test_meta_registry.py
Due: isort-poetry, mypy, pylint

fix: fixture
  tests/integration/conftest.py
Due: isort-poetry

fix: skip test curated staking module
  tests/integration/contracts/test_curated_staking_module.py
Due: isort-poetry

feat: add more delegation unit tests
  tests/web3py/test_delegation_module.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry

chore: refact tests
  tests/web3py/test_delegation_module.py
Due: isort-poetry

fix: func typing
  tests/integration/contracts/contract_utils.py
Due: isort-poetry

fix: revert get_gid
  src/providers/execution/contracts/meta_registry.py
  tests/execution/contracts/test_contract_transformations.py
Due: isort-poetry, mypy, pylint

fix: remove commet
  src/providers/execution/contracts/meta_registry.py
Due: isort-poetry, mypy, pylint

feat(orc-649): fix
  .github/copilot-instructions.md
  .github/instructions/security.instructions.md
Due: none

fix: Include pending topups into cl pending balance
  src/modules/oracles/accounting/accounting.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

fix: rename test
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

feat: add `participation_share_multiplier` to validator frame summary in logs
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/oracles/staking_modules/common/log.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

Update src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix: rename tests
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

revert: `cast`
  src/modules/sidecars/performance/collector/collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

chore: add description for log fields
  src/modules/oracles/staking_modules/common/log.py
Due: isort-poetry, mypy, pylint

fix: lint
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry

fix: lint
  src/modules/oracles/staking_modules/common/log.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

chore: fix isort in Makefile
  Makefile
Due: none

chore: remove non actual alerts
  docs/alerts.md
  docs/monitoring/alerts.yml
Due: none

chore: get_deposits_reserve fix return type + add test
  src/providers/execution/contracts/lido.py
  tests/integration/contracts/test_lido.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
