Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat(orc-631): bring back int
  src/modules/common/types.py
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/types.py
  src/services/prediction.py
  src/services/staking_vaults.py
  src/services/validator_state.py
  src/services/withdrawal.py
  src/utils/block.py
  src/utils/events.py
  src/utils/time.py
  src/utils/web3converter.py
  tests/factory/configs.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/test_safe_border_unit.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/accounting/test_withdrawal_integration.py
  tests/modules/accounting/test_withdrawal_unit.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_prediction.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_beacon_spec_response.py
  tests/utils/test_time.py
Due: isort-poetry, mypy, pylint

feat(orc-631): raise exception if slot duration fractional
  src/providers/consensus/types.py
  tests/providers/consensus/test_beacon_spec_response.py
Due: isort-poetry, mypy, pylint

feat(orc-631): lint
  src/modules/oracles/common/consensus.py
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

feat(orc-631): ad exception when both fields provided and non equal
  src/providers/consensus/types.py
  tests/providers/consensus/test_beacon_spec_response.py
Due: isort-poetry, mypy, pylint

feat(orc-545): modify ejector to fit new meb
  README.md
  assets/StakingRouter.json
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/types.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/__init__.py
  src/providers/execution/contracts/curated_staking_module.py
  src/providers/execution/contracts/lido.py
  src/providers/execution/contracts/meta_registry.py
  src/providers/execution/contracts/oracle_report_sanity_checker.py
  src/providers/execution/contracts/staking_router.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/exit_order_iterator.py
  src/services/safe_border.py
  src/services/validator_state.py
  src/types.py
  src/utils/validator_balance.py
  src/utils/validator_state.py
  src/web3py/extensions/lido_validators.py
  stubs/ipld_dag_pb/__init__.pyi
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/providers/test_staking_vaults.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

feat(orc-545): fix linters
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/providers/consensus/client.py
  src/providers/execution/contracts/curated_staking_module.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/services/exit_order_iterator.py
  src/services/safe_border.py
  src/types.py
  src/utils/validator_balance.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix(orc-545): tests in test_calculate_cl_rebase_between_blocks
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry

fix(orc-545): tests in test_accounting_module.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

fix(orc-545): tests in test_csm_distribution
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix(orc-545): test in test_ejector
  tests/modules/ejector/test_ejector.py
Due: isort-poetry

fix(orc-545): tests test_lido_validators
  tests/factory/no_registry.py
  tests/factory/web3_factory.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry

fix(orc-545): tests in test_validator_state
  tests/modules/accounting/test_validator_state.py
Due: isort-poetry

feat(orc-545): apply linters
  src/modules/checks/suites/conftest.py
  src/modules/checks/suites/ipfs.py
  src/providers/execution/contracts/curated_staking_module.py
  src/providers/execution/contracts/delegation_contract.py
  src/services/exit_order_iterator.py
  src/variables.py
  src/web3py/extensions/delegation.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-545): skip failing tests
  tests/integration/contracts/test_oracle_report_sanity_checker.py
  tests/modules/accounting/test_withdrawal_integration.py
Due: isort-poetry

feat: add range info endpoint to performance client
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
  src/providers/http_provider.py
  src/providers/performance/client.py
  tests/modules/sidecars/performance/common/test_db.py
  tests/modules/sidecars/performance/web/test_server.py
  tests/providers/performance/test_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

feat: collector telemetery send
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  src/variables.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

refactor: add generic fail-safe function to send telemetry
  src/modules/oracles/common/consensus.py
Due: isort-poetry, mypy, pylint

feat: cl metrics
  src/providers/consensus/client.py
  src/providers/http_provider.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

fix: pass required block_identifier to get_staking_modules in integration test
  tests/integration/contracts/test_staking_router.py
Due: isort-poetry

fix: extract session_manager init
  src/providers/consensus/client.py
  src/web3py/extensions/consensus.py
Due: isort-poetry, mypy, pylint

fix: lint
  src/providers/consensus/client.py
  src/web3py/extensions/consensus.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

fix: fallback metrics propagation
  src/providers/consensus/client.py
  src/providers/http_provider.py
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

todos
  .env.example
  README.md
  docs/reproducible-builds.md
  pyproject.toml
  scripts/init_performance_db.sh
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/staking_modules/base.py
  src/providers/ipfs/pinata.py
  src/variables.py
  src/web3py/extensions/contracts.py
Due: isort-poetry, mypy, pylint

feat: fix bunker mode edge case with cut slashings
  src/services/bunker_cases/midterm_slashing_penalty.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

feat: exclude overwritten slashings after full buffer cycle
  src/services/bunker_cases/midterm_slashing_penalty.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

feat: optimize edge case with EPOCHS_PER_SLASHINGS_VECTOR
  src/services/bunker_cases/midterm_slashing_penalty.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

refactor: rename range method in State and fix out-of-order issue
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

test: reuse the existing mock
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

test: xfail the failing integration test
  tests/integration/contracts/test_staking_router.py
Due: isort-poetry

fix: do not take into account failed telemetry for throttling
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat: use strict equation
  src/services/bunker_cases/midterm_slashing_penalty.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

fix: add missing lib
  poetry.lock
  pyproject.toml
Due: none

chore: no need to clamp at MEB, enforced by the CL
  src/modules/oracles/staking_modules/common/distribution.py
Due: isort-poetry, mypy, pylint

chore: redundant type & adjust error message
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

chore: redudant type conversion
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

refactor: return the inconsistent tree check
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

refactor: remove shutdown in staking modules oracle
  src/modules/oracles/staking_modules/base.py
  tests/main/test_main_cycle_smoke.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

chore: ruff
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

chore: silence pyright and remove old stuff
  tests/modules/csm/test_state.py
Due: isort-poetry

fix: oracle_name setup for old caches
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
