Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

chore: remove comment
  src/metrics/prometheus/performance_oracle.py
Due: isort-poetry, mypy, pylint

chore: raise on effective balance above MEB
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

chore: satisfy pyright
  tests/modules/csm/test_log.py
Due: isort-poetry

refactor: raise on sync misses more than the block count
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

refactor: migrate to in-memory State
  README.md
  src/constants.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  src/variables.py
  tests/fork/conftest.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

chore: ruff
  tests/modules/csm/test_state.py
Due: isort-poetry

chore: update docstring and remove unused constant
  src/modules/oracles/staking_modules/common/state.py
Due: isort-poetry, mypy, pylint

remove: use bare uvicorn without gunicorn
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/modules/oracles/staking_modules/base.py
  src/modules/sidecars/performance/web/server.py
  src/variables.py
Due: isort-poetry, mypy, pylint

refactor: accept duty accumulator in state methods
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

chore: remove types-gunicorn
  poetry.lock
  pyproject.toml
Due: none

refactor: remove not used properties and change assert
  src/modules/oracles/staking_modules/common/state.py
Due: isort-poetry, mypy, pylint

chore: add missing instance attribute typings
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

chore: use contract address as consumer
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

chore: comment re uvicorn parameters
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

fix: propagate chain_id
  src/providers/consensus/client.py
  src/web3py/extensions/consensus.py
Due: isort-poetry, mypy, pylint

fix: format
  tests/providers_clients/test_http_provider.py
Due: isort-poetry

refactor: State.migrate->init
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

feat: new todos
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  src/modules/common/daemon_module.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/types.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/providers/keys/types.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

feat: check validator effective balance in the dataclass
  src/modules/oracles/staking_modules/common/distribution.py
  src/providers/consensus/types.py
  src/utils/validator_state.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
Due: isort-poetry, mypy, pylint

chore: use multiple uvicorn workers
  README.md
  src/modules/sidecars/performance/web/server.py
  src/variables.py
Due: isort-poetry, mypy, pylint

chore: ruff
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

Update src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

fix: try to remove demand if the consumer has been changed
  src/modules/oracles/staking_modules/base.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

chore: ignore provider errors on demand deletion
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

fix: copilot comments
  src/providers/consensus/client.py
  src/web3py/extensions/consensus.py
Due: isort-poetry, mypy, pylint

fix: copilot comments
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

todos
  src/constants.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: update abi interfaces
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/DataBus.json
  assets/DelegationContract.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
Due: none

fix: remarks
  .env.example
  README.md
  docker-compose.yml
  src/modules/common/daemon_module.py
  src/modules/common/graceful_shutdown.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
  tests/modules/sidecars/performance/common/test_db.py
  tests/modules/sidecars/performance/web/test_server.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

fix: increase cov accounting
  tests/modules/accounting/test_accounting_events.py
Due: isort-poetry

feat: remove pending balance by sm
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/types.py
  src/web3py/extensions/contracts.py
  src/web3py/extensions/lido_validators.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat: apply linters
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/web3py/extensions/contracts.py
  src/web3py/extensions/lido_validators.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/factory/no_registry.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

Revert "Oracle V8 Accounting review"
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/DataBus.json
  assets/DelegationContract.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/services/exit_order_iterator.py
  src/services/validator_state.py
  src/utils/validator_balance.py
  src/web3py/extensions/contracts.py
  src/web3py/extensions/lido_validators.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/factory/no_registry.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

Revert "Revert "Oracle V8 Accounting review""
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/DataBus.json
  assets/DelegationContract.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/types.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/bunker_cases/midterm_slashing_penalty.py
  src/services/exit_order_iterator.py
  src/services/validator_state.py
  src/utils/validator_balance.py
  src/web3py/extensions/contracts.py
  src/web3py/extensions/lido_validators.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/factory/no_registry.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat: increase coverage for contracts package
  src/providers/execution/contracts/curated_staking_module.py
  src/providers/execution/contracts/meta_registry.py
  tests/execution/contracts/__init__.py
  tests/execution/contracts/base_interface_test.py
  tests/execution/contracts/test_contract_transformations.py
  tests/integration/conftest.py
  tests/integration/contracts/contract_utils.py
  tests/integration/contracts/test_accounting.py
  tests/integration/contracts/test_accounting_oracle.py
  tests/integration/contracts/test_base_oracle.py
  tests/integration/contracts/test_bunker.py
  tests/integration/contracts/test_cs_accounting.py
  tests/integration/contracts/test_cs_fee_distributor.py
  tests/integration/contracts/test_cs_fee_oracle.py
  tests/integration/contracts/test_cs_module.py
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/integration/contracts/test_cs_strikes.py
  tests/integration/contracts/test_curated_staking_module.py
  tests/integration/contracts/test_deposit_contract.py
  tests/integration/contracts/test_hash_consensus.py
  tests/integration/contracts/test_lido_locator.py
  tests/integration/contracts/test_meta_registry.py
  tests/integration/contracts/test_oracle_report_sanity_checker.py
  tests/integration/contracts/test_validator_exit_bus_oracle.py
  tests/integration/contracts/test_vault_hub.py
  tests/integration/contracts/test_withdrawal_queue_nft_contract.py
Due: isort-poetry, mypy, pylint

feat(orc-356): add Makefile command to generate build-info file
  .gitignore
  Makefile
Due: none

feat(orc-356): update doc
  docs/reproducible-builds.md
Due: none

feat(orc-356): refactor
  Makefile
Due: none

todo
  src/modules/oracles/ejector/ejector.py
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint
