Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: split stake by shares in case of zero group weight
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

Potential fix for pull request finding
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

test: move PendingDepositFactory to shared factories
  tests/factory/no_registry.py
  tests/modules/accounting/staking_vault/conftest.py
Due: isort-poetry

test: cover top-ups on keys that are already used and indexed
  tests/modules/accounting/test_accounting_module.py
  tests/utils/test_validator_balance.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry

test: cover the already-indexed top-up branch of injected capital
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry

feat: additional validation for kapi and cl response
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

test: reconciliation states that block reporting with a correct KAPI response
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

test: assert the write-off requirement instead of pinning the current block
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

test: drop the xfail markers so the write-off tests fail red
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

test: front-run ether must stay out of clValidatorsBalance too
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

docs: one gap, not two -- summing balance and top-up is not double counting
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

test: refuse the report on a used key with non-Lido credentials
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry

feat(orc-782): add tests
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_sweep.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/utils/test_validator_state_utils.py
Due: isort-poetry

feat: refuse to report used keys on validators with non-Lido credentials
  src/modules/oracles/common/oracle_module.py
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry, mypy, pylint

fix: log every affected key, not the first ten
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

feat: new check and code unification
  src/modules/oracles/common/oracle_module.py
  src/web3py/extensions/lido_validators.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

docs: shorten the FrontRunAttackError docstring
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: raise FrontRunAttackError at the decision point, not in the helper
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

fix: run the log-only KAPI check before the raising ones
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

test: assert the refusal on a discarded deposit instead of a write-off
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry, mypy, pylint

perf: cache the private active/pending getters, they ran twice per report
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

Revert "fix: raise FrontRunAttackError at the decision point, not in the helper"
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

perf: drop the redundant cache from get_pending_lido_validators
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

perf: drop the redundant cache from get_active_lido_validators too
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

docs: shorten the comments this branch added
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
  tests/web3py/test_lido_validators_deposit_reconciliation.py
Due: isort-poetry, mypy, pylint

docs: say plainly that a mismatched count means no report
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

Update src/web3py/extensions/lido_validators.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

style: wrap the docstring line added in bc6aa815
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: comment
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: log every missing key index, not the first ten
  src/web3py/extensions/lido_validators.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

fix: fix stab
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

fix: bring back cm tests
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
  tests/fork/test_staking_module_oracle_cycle.py
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

chore(release): 8.1.0
  pyproject.toml
Due: none

chore(release): 8.0.5
  pyproject.toml
Due: none

feat: build script
  docs/development.md
  scripts/run_oracle_at_slot.py
Due: isort-poetry

Potential fix for pull request finding
  scripts/run_oracle_at_slot.py
Due: isort-poetry

Potential fix for pull request finding
  docs/development.md
Due: none

fix: for get member delegation function
  src/modules/oracles/common/consensus.py
  src/web3py/extensions/signer.py
  tests/conftest.py
  tests/fork/test_delegation_report_cycle.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/modules/submodules/consensus/test_reports.py
  tests/web3py/test_signer_module.py
Due: isort-poetry, mypy, pylint
