Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

refactor: rename validation models to generic param suffix
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  tests/modules/sidecars/performance/web/test_validation.py
Due: isort-poetry, mypy, pylint

fix: validate epoch values do not exceed postgresql integer max
  src/modules/sidecars/performance/web/validation.py
  tests/modules/sidecars/performance/web/test_validation.py
Due: isort-poetry, mypy, pylint

fix: use timezone-aware datetime column for updated_at
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

chore: get_session slight touch
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

fix: demand deletion via session.delete
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

refactor: build db uri with PostgresDsn
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

chore: remove redundant type conversions
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

chore: inline calls and remove casts and linter silencers
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

chore: prune function range fix
  src/modules/sidecars/performance/common/db.py
  src/variables.py
Due: isort-poetry, mypy, pylint

chore: typo
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

test: fix test after refactoring
  tests/modules/sidecars/performance/web/test_server.py
Due: isort-poetry

fix: align retention checks with latest stored epoch
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
  tests/modules/sidecars/performance/common/test_db.py
  tests/modules/sidecars/performance/web/test_server.py
Due: isort-poetry, mypy, pylint

chore: provider touch ups
  src/providers/http_provider.py
  src/providers/performance/client.py
Due: isort-poetry, mypy, pylint

deps: add httpx for testing client
  poetry.lock
  pyproject.toml
Due: none

chore: ruff
  src/modules/sidecars/performance/web/validation.py
Due: isort-poetry, mypy, pylint

fix: enforce positive retention_epochs across all layers
  src/modules/sidecars/performance/common/db.py
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  src/variables.py
  tests/modules/sidecars/performance/web/test_server.py
Due: isort-poetry, mypy, pylint

test: test for performance collector execute_module
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry

chore: refactor to avoid retyping
  src/modules/sidecars/performance/collector/checkpoint.py
Due: isort-poetry, mypy, pylint

chore: move _update_deman_metrics call
  src/modules/sidecars/performance/collector/collector.py
Due: isort-poetry, mypy, pylint

fix: refine epoch range selection and collector test coverage
  src/modules/sidecars/performance/collector/collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

chore: simplify db metrics refresh updates
  src/modules/sidecars/performance/collector/checkpoint.py
Due: isort-poetry, mypy, pylint

fix: centralize and harden metrics refresh timing
  src/modules/sidecars/performance/collector/checkpoint.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
Due: isort-poetry, mypy, pylint

refactor: move telemetry data bus module attachement to the base function
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

test: remove xfail for csm v2 integration tests 🤦
  tests/integration/contracts/test_cs_fee_oracle.py
  tests/integration/contracts/test_cs_module.py
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/integration/contracts/test_cs_strikes.py
  tests/integration/contracts/test_staking_module_extension.py
Due: isort-poetry

test: add unit tests for StakingModuleContracts extension
  tests/web3py/test_staking_module.py
Due: isort-poetry

test: add unit tests for PerformanceClient
  tests/providers/performance/__init__.py
  tests/providers/performance/test_client.py
Due: isort-poetry

remove: unused gauge
  src/metrics/prometheus/basic.py
Due: isort-poetry, mypy, pylint

fix: check for demand count change in collector loop
  src/modules/sidecars/performance/collector/collector.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
Due: isort-poetry, mypy, pylint

fix: Subclass for filebase
  kubo/docker-compose.yml
  src/modules/checks/suites/ipfs.py
  src/modules/oracles/common/runtime.py
  src/providers/ipfs/filebase.py
Due: isort-poetry, mypy, pylint

fix: ruff
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

feat: unit tests for kubo
  tests/providers/ipfs/test_kubo.py
Due: isort-poetry

feat: fix
  src/modules/checks/suites/ipfs.py
  src/modules/oracles/common/runtime.py
  src/providers/ipfs/__init__.py
  src/providers/ipfs/filebase.py
  src/providers/ipfs/kubo.py
Due: isort-poetry, mypy, pylint

feat: Remove storacha
  .env.example
  .github/workflows/ci-daily-checks.yml
  .github/workflows/mainnet_fork_tests.yml
  .github/workflows/tests.yml
  README.md
  docker-compose.yml
  src/modules/oracles/common/runtime.py
  src/providers/ipfs/__init__.py
  src/providers/ipfs/storacha.py
  src/variables.py
  tests/providers/ipfs/test_storacha.py
Due: isort-poetry, mypy, pylint

Update src/providers/ipfs/filebase.py
  src/providers/ipfs/filebase.py
Due: isort-poetry, mypy, pylint

fix: add variables
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: more tests
  tests/providers/ipfs/test_kubo.py
Due: isort-poetry

chore: comment fix
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

chore: update abis
  assets/CSAccounting.json
  assets/CSFeeDistributor.json
  assets/CSFeeOracle.json
  assets/CSModule.json
  assets/CSParametersRegistry.json
  assets/CSStrikes.json
Due: none

refactor: iteration of sm oracle base refactor
  src/metrics/prometheus/performance_oracle.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/state.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat(orc-631): add SLOT_DURATION_MS
  src/modules/common/types.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/consensus.py
  src/providers/consensus/types.py
  src/services/prediction.py
  src/services/staking_vaults.py
  src/services/validator_state.py
  src/services/withdrawal.py
  src/utils/block.py
  src/utils/events.py
  src/utils/time.py
  src/utils/web3converter.py
  tests/factory/configs.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_midterm_penalty.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/test_safe_border_unit.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/accounting/test_withdrawal_integration.py
  tests/modules/accounting/test_withdrawal_unit.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_prediction.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/providers/consensus/test_beacon_spec_response.py
  tests/utils/test_time.py
Due: isort-poetry, mypy, pylint
