Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat(orc-483): add Web3.to_checksum_address to delegation contract
  src/providers/execution/contracts/delegation_contract.py
Due: isort-poetry, mypy, pylint

fix: Upgrade web3-multiprovider to 2.2.7
  poetry.lock
  pyproject.toml
Due: none

feat: accounting support meb
  README.md
  assets/AccountingOracle.json
  poetry.lock
  pyproject.toml
  src/constants.py
  src/metrics/prometheus/accounting.py
  src/metrics/prometheus/basic.py
  src/modules/common/daemon_module.py
  src/modules/common/types.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/third_phase/extra_data.py
  src/modules/oracles/accounting/third_phase/types.py
  src/modules/oracles/accounting/types.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/staking_modules/base.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/accounting.py
  src/providers/http_provider.py
  src/providers/keys/client.py
  src/providers/performance/client.py
  src/services/bunker.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/deposit_signature_verification.py
  src/services/safe_border.py
  src/types.py
  src/utils/abi.py
  src/web3py/extensions/lido_validators.py
  tests/modules/accounting/bunker/test_bunker.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/accounting/test_extra_data.py
  tests/modules/accounting/test_safe_border_integration.py
  tests/modules/accounting/test_safe_border_unit.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_ejector.py
  tests/modules/submodules/consensus/test_reports.py
  tests/providers_clients/test_http_provider.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry, mypy, pylint

feat(orc-572): typos fix
  src/modules/oracles/common/consensus.py
Due: isort-poetry, mypy, pylint

feat(orc-572): func documentation added
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/third_phase/extra_data.py
Due: isort-poetry, mypy, pylint

feat(orc-572): fix typo
  src/modules/oracles/accounting/accounting.py
Due: isort-poetry, mypy, pylint

feat(orc-572): fix linters
  src/modules/common/types.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/common/runtime.py
  src/providers/consensus/client.py
  src/services/deposit_signature_verification.py
  src/types.py
  src/utils/transaction.py
  src/web3py/extensions/lido_validators.py
  stubs/ipld_dag_pb/__init__.pyi
Due: isort-poetry, mypy, pylint

feat(orc-572): fix test_bunker_abnormal_cl_rebase tests
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
Due: isort-poetry

feat(orc-572): fix test_accounting_module
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

feat(orc-572): fix test_csm_module
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

feat(orc-572): fix test_reports
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry

feat(orc-572): missed cleanup
  src/modules/oracles/accounting/third_phase/types.py
Due: isort-poetry, mypy, pylint

feat(orc-572): add missing tests for accounting
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry

feat(orc-572): add missing tests for lido validators
  tests/web3py/test_lido_validators.py
Due: isort-poetry

feat(orc-572): add missing tests for deposit signature validation
  tests/services/__init__.py
  tests/services/test_deposit_signature_verification.py
Due: isort-poetry

feat(orc-572): fix ruff format
  tests/modules/accounting/test_accounting_module.py
  tests/services/test_deposit_signature_verification.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry

feat(orc-572): ruff check fix
  stubs/ipld_dag_pb/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/services/test_deposit_signature_verification.py
  tests/web3py/test_lido_validators.py
Due: isort-poetry

fix: Fix fetching of blobs from kubo ipfs
  src/providers/ipfs/kubo.py
Due: isort-poetry, mypy, pylint

fix: Fix remove gateway access from Kubo provider
  README.md
  docker-compose.yml
  src/modules/oracles/common/runtime.py
  src/providers/ipfs/kubo.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: Semantics
  src/providers/ipfs/kubo.py
Due: isort-poetry, mypy, pylint

feat(orc-572): minor fixes
  src/modules/oracles/accounting/accounting.py
  src/providers/consensus/types.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: propagate 5001 port
  kubo/docker-compose.yml
Due: none

feat: Filebase provider
  README.md
  src/modules/oracles/common/runtime.py
  src/providers/ipfs/kubo.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix: Revert README
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

fix: Revert README
  README.md
Due: none

fix: revert
  src/modules/oracles/common/runtime.py
Due: isort-poetry, mypy, pylint

fix: Filebase variables README
  README.md
Due: none

chore: init db fixes
  scripts/init_performance_db.sh
Due: none

chore: remove unreachable statement
  src/main.py
Due: isort-poetry, mypy, pylint

chore: better health check response model
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

chore: share database dependency annotation
  src/modules/sidecars/performance/web/server.py
Due: isort-poetry, mypy, pylint

chore: docker compose fixes
  docker-compose.yml
Due: none

chore: todo for variables check
  src/main.py
Due: isort-poetry, mypy, pylint

fix: do not use depends for validation
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  tests/modules/__init__.py
  tests/modules/sidecars/__init__.py
  tests/modules/sidecars/performance/__init__.py
  tests/modules/sidecars/performance/web/__init__.py
  tests/modules/sidecars/performance/web/test_server.py
  tests/modules/sidecars/performance/web/test_validation.py
Due: isort-poetry, mypy, pylint

chore: todos for web server metrics
  src/metrics/prometheus/basic.py
  src/modules/sidecars/performance/web/metrics.py
Due: isort-poetry, mypy, pylint

refactor: use datetime for updated_at and remove redundant helper
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

refactor: rename epochs demand request model to param
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  tests/modules/sidecars/performance/web/test_validation.py
Due: isort-poetry, mypy, pylint

refactor: pass statement_timeout_ms as arg to _build_engine
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

fix: disable autoincrement on epoch primary key
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint
