Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

test: add more tests to kill mutants
  tests/modules/accounting/staking_vault/test_fee_calculation.py
  tests/modules/accounting/staking_vault/test_fee_components.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_helpers.py
  tests/modules/accounting/staking_vault/test_fee_liquidity _by_events.py
  tests/modules/accounting/staking_vault/test_fee_start_point.py
  tests/modules/accounting/staking_vault/test_fees.py
  tests/modules/accounting/staking_vault/test_get_vaults.py
  tests/modules/accounting/staking_vault/test_helpers.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_merkle_tree.py
  tests/modules/accounting/staking_vault/test_slashing_reserve.py
  tests/modules/accounting/staking_vault/test_staking_vault_reports.py
  tests/modules/accounting/staking_vault/test_total_values.py
  tests/modules/accounting/staking_vault/test_validator_mapping.py
Due: isort-poetry

chore: fix review findings
  tests/modules/accounting/staking_vault/test_fee_start_point.py
  tests/modules/accounting/staking_vault/test_total_values.py
Due: isort-poetry

fix: some renaming
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_components.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_liquidity _by_events.py
Due: isort-poetry, mypy, pylint

feat(orc-372): bump test dependencies
  poetry.lock
  pyproject.toml
Due: none

feat(orc-372): fix polyfactory after bump
  tests/factory/web3_factory.py
Due: isort-poetry

feat: metrics
  docs/monitoring/README.md
  docs/monitoring/alertmanager.yml
  docs/monitoring/alerts.yml
  docs/monitoring/prometheus.yml
  src/metrics/prometheus/performance_collector.py
  src/metrics/prometheus/performance_oracle.py
  src/metrics/prometheus/staking_module.py
  src/modules/oracles/staking_modules/base.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/common/db.py
Due: isort-poetry, mypy, pylint

feat(orc-372): fix tests workflow
  .github/workflows/tests.yml
Due: none

fix: find demand before delete on shutdown
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

chore: docs
  README.md
  docker-compose.yml
  docs/development.md
Due: none

fix: test
  tests/modules/performance_collector/test_checkpoint.py
Due: isort-poetry

feat(orc-372): fix csm test
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

feat(orc-372): make possible to run fork tests inside docker container
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

feat: use `STAKING_MODULE_ADDRESS`
  .env.example
  .github/workflows/mainnet_fork_tests.yml
  README.md
  docker-compose.yml
  docs/development.md
  src/modules/checks/suites/common.py
  src/modules/checks/suites/conftest.py
  src/variables.py
  src/web3py/extensions/staking_module.py
  tests/conftest.py
  tests/fork/conftest.py
  tests/modules/csm/conftest.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

feat(orc-372): Add tests policy
  README.md
  docs/testing.md
Due: none

fix: return foundry installation for fork tests
  .github/workflows/mainnet_fork_tests.yml
Due: none

chore: remove mint/burn by slot span logic
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_fee_components.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_fee_helpers.py
  tests/modules/accounting/staking_vault/test_fee_liquidity_by_events.py
Due: isort-poetry, mypy, pylint

fix: lido locator for v3 on hoodi
  tests/conftest.py
Due: isort-poetry

chore: some fixes
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat: add binary search algo for getting blocks
  src/services/staking_vaults.py
  src/utils/block.py
  tests/modules/accounting/staking_vault/test_block_timestamps_integration.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/utils/test_block.py
Due: isort-poetry, mypy, pylint

feat: add anchor check for big block numbers
  src/services/staking_vaults.py
  src/utils/block.py
  tests/modules/accounting/staking_vault/test_block_timestamps_integration.py
Due: isort-poetry, mypy, pylint

fix: Update rust dependency
  .github/workflows/mainnet_fork_tests.yml
  poetry.lock
  pyproject.toml
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

fix: Remove redundant files
  .gitignore
  .vscode/settings.json
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

fix: Pin new versions
  Dockerfile
  src/modules/csm/checkpoint.py
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat: VEBO SRv3 implementation
  src/constants.py
  src/modules/accounting/types.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/exit_order_iterator.py
  src/web3py/extensions/lido_validators.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: allow `no strike` policy when threshold is 0 and perf is 0 too
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

feat: one more test
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

feat: Replace mypy with pyright
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/development.md
  poetry.lock
  pyproject.toml
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/modules/checks/suites/conftest.py
  src/modules/checks/suites/consensus_node.py
  src/modules/submodules/consensus.py
  src/providers/consensus/client.py
  src/providers/http_provider.py
  src/services/staking_vaults.py
  src/utils/blockstamp.py
  src/utils/dataclass.py
  src/web3py/extensions/tx_utils.py
Due: isort-poetry, mypy, pylint

fix: lock with correct poetry version == 1.3.2
  poetry.lock
Due: none

Update src/modules/ejector/ejector.py
  src/modules/ejector/ejector.py
Due: isort-poetry, mypy, pylint

Update src/services/exit_order_iterator.py
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat: fetch no weights
  src/modules/ejector/ejector.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/staking_module.py
  src/services/exit_order_iterator.py
  src/web3py/extensions/lido_validators.py
Due: isort-poetry, mypy, pylint

fix: pylint issues
  src/modules/accounting/types.py
  src/modules/ejector/ejector.py
  src/providers/execution/contracts/cs_fee_distributor.py
  src/providers/execution/contracts/cs_strikes.py
  src/providers/execution/contracts/exit_bus_oracle.py
  src/providers/execution/contracts/oracle_report_sanity_checker.py
  src/providers/execution/contracts/withdrawal_queue_nft.py
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

fix: Downgraded poetry deps
  poetry.lock
Due: none

feat: resolve order
  src/constants.py
  src/modules/accounting/types.py
  src/providers/consensus/types.py
  src/providers/execution/contracts/staking_module.py
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-372): refactor
  tests/conftest.py
Due: isort-poetry

feat(orc-372): fix pre commit hook
  .pre-commit-config.yaml
Due: none

feat: add mutation testing and zip strict mode
  Makefile
  src/utils/block.py
Due: isort-poetry, mypy, pylint

feat: simplify mocks in block unit tests
  src/utils/block.py
  tests/utils/test_block.py
Due: isort-poetry, mypy, pylint

refactor: simplify block timestamp fetching with cleaner recursion
  src/utils/block.py
Due: isort-poetry, mypy, pylint

refactor: rename _apply_event_backward and add interval check
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
