Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat: test
  tests/modules/csm/test_checkpoint.py
Due: isort-poetry

fix: prysm error on `get_sync_committee`
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

feat: add test> add call to check module
  src/modules/checks/suites/consensus_node.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry, mypy, pylint

fix: handle zero block roots
  src/modules/csm/checkpoint.py
  tests/modules/csm/test_checkpoint.py
Due: isort-poetry, mypy, pylint

fix: linter
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry

feat: csm state versions
  src/modules/csm/csm.py
  src/modules/csm/state.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

chore: update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: init _version
  src/modules/csm/state.py
Due: isort-poetry, mypy, pylint

test: fix state tests
  tests/modules/csm/test_state.py
Due: isort-poetry

chore: remove _consensus_version usage
  src/modules/csm/state.py
Due: isort-poetry, mypy, pylint

refactor: extract CSM_STATE_VERSION
  .github/PULL_REQUEST_TEMPLATE.md
  src/constants.py
  src/modules/csm/state.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

feat: Exit data generation script
  scripts/fetch_key_indices.py
Due: isort-poetry

feat: Update to keys range
  scripts/fetch_key_indices.py
Due: isort-poetry

feat: Update script format
  scripts/fetch_key_indices.py
Due: isort-poetry

fix: fetch used module operators keys and add sanity checks
  src/modules/submodules/oracle_module.py
  src/providers/keys/client.py
  src/web3py/extensions/lido_validators.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

ci: add CSM address for integration tests on mainnet
  .github/workflows/tests.yml
Due: none

fix(vaults): add check that `liability_shares` after VaultConnectedEvent must be zero
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: re-order statements
  src/providers/keys/client.py
Due: isort-poetry, mypy, pylint

test: check for duplicates in get used keys methods
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry

fix(vaults): slashingReserve in merkleTree must be greater 0. int256 -> uint256
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): Prevent double-counting of vault events
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

tests(vaults): Test for getting events from prev_report_block_number + 1
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

tests(vaults): formatter
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

fix(vaults): review marks
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): test formatter
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat(orc-452): add car converter
  poetry.lock
  pyproject.toml
  src/utils/car/__init__.py
  src/utils/car/converter.py
  src/utils/car/schemes/__init__.py
  src/utils/car/schemes/merkledag.proto
  src/utils/car/schemes/merkledag_pb2.py
  src/utils/car/schemes/unixfs.proto
  src/utils/car/schemes/unixfs_pb2.py
Due: isort-poetry, mypy, pylint

fix: fetch used module operators keys and add sanity checks
  src/modules/csm/distribution.py
  src/modules/submodules/oracle_module.py
  src/providers/keys/client.py
  src/web3py/extensions/lido_validators.py
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry, mypy, pylint

test: fix flaky test
  tests/modules/csm/test_checkpoint.py
Due: isort-poetry

chore: use list comprehension
  src/providers/keys/client.py
Due: isort-poetry, mypy, pylint

test: add duplicated keys test
  tests/providers_clients/test_keys_api_client.py
Due: isort-poetry

Revert "chore(release): 4.3.0"
  pyproject.toml
Due: none

Revert "feat: remove force exit predicate"
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

Revert "feat: remove shares burn"
  src/modules/accounting/accounting.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

Revert "chore(release): 5.2.0"
  pyproject.toml
Due: none

Revert "chore: add tags for tests"
  tests/modules/accounting/test_accounting_module.py
  tests/web3py/test_tx_bundle.py
Due: isort-poetry

Revert "feat: use private relays to submit transactions"
  README.md
  assets/NodeOperatorRegistry.json
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/submodules/consensus.py
  src/providers/execution/contracts/staking_module.py
  src/variables.py
  src/web3py/extensions/tx_bundle.py
  tests/integration/conftest.py
  tests/integration/contracts/test_node_operator_registry.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/submodules/consensus/test_reports.py
  tests/web3py/test_tx_bundle.py
Due: isort-poetry, mypy, pylint

feat: revert right code
  pyproject.toml
  src/variables.py
Due: isort-poetry, mypy, pylint

chorelogs): add loggint of results of _get_withdrawable_lido_validators_balance
  src/modules/ejector/ejector.py
Due: isort-poetry, mypy, pylint

chore(log): add missing log to future_withdrawals
  src/modules/ejector/ejector.py
Due: isort-poetry, mypy, pylint
