Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: flaky smoke test
  src/modules/oracles/common/consensus.py
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add telemetry data bus fork test
  src/variables.py
  tests/conftest.py
  tests/fork/conftest.py
  tests/fork/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add assert
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry

feat(orc-614): fix nonce bug
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix tests
  tests/modules/submodules/consensus/test_reports.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry

feat(orc-614): fix nonce issue
  src/modules/oracles/common/consensus.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix type
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix tests
  tests/conftest.py
Due: isort-poetry

feat(orc-614): refactor
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fire-and-forget telemetry
  src/web3py/extensions/telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix if variables.ACCOUNT is None case
  src/modules/checks/suites/conftest.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): move TELEMETRY_DATA_BUS_RPC to private env vars
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(orc-614): fix readme
  README.md
Due: none

feat(orc-614): add default data bus address
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(orc-614): change send_telemetry signature
  src/modules/oracles/common/consensus.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/fork/test_telemetry_data_bus.py
  tests/modules/submodules/consensus/test_reports.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add telemetry on startup
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/runtime.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/fork/test_telemetry_data_bus.py
  tests/modules/submodules/consensus/test_reports.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add update_account_balance_metric
  src/metrics/prometheus/basic.py
  src/web3py/extensions/telemetry_data_bus.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

chore(release): 7.1.1
  pyproject.toml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

feat(orc-614): fix ruff
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry

feat(orc-614): add telemetry deduplication by report hash
  src/modules/oracles/common/consensus.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat(orc-483): refactor
  src/providers/execution/contracts/delegation_contract.py
  src/web3py/extensions/delegation.py
Due: isort-poetry, mypy, pylint

refactor: Rename "active balance" to "validator balance"
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat(orc-614): add update_account_balance_metric while send_telemetry
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

feat(orc-614): remove chain id validation on telemetry (f4ever)
  src/web3py/extensions/telemetry_data_bus.py
  tests/web3py/test_telemetry_data_bus.py
Due: isort-poetry, mypy, pylint

chore: add testnet envs to fork pipeline
  .github/workflows/mainnet_fork_tests.yml
Due: none

feat(orc-483): fix wrap_call_for_delegation
  src/web3py/extensions/delegation.py
Due: isort-poetry, mypy, pylint

feat(orc-483): add Web3.to_checksum_address
  src/web3py/extensions/delegation.py
  src/web3py/extensions/tx_utils.py
Due: isort-poetry, mypy, pylint

feat(orc-483): add delegation fork test
  tests/fork/test_delegation.py
Due: isort-poetry

feat(orc-483): refactor
  src/web3py/extensions/tx_utils.py
  tests/fork/test_delegation.py
Due: isort-poetry, mypy, pylint

feat(orc-483): add unit tests on DelegationModule
  src/web3py/extensions/delegation.py
  tests/web3py/test_delegation_module.py
Due: isort-poetry, mypy, pylint

feat(orc-483): add DELEGATION_CONTRACT_ADDRESS to readme
  README.md
Due: none

feat(orc-483): add delegtaion docs
  README.md
  docs/delegation.md
Due: none

feat(orc-483): imporove checks and tests
  src/modules/checks/suites/conftest.py
  tests/conftest.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

feat(orc-483): refact
  src/providers/execution/contracts/delegation_contract.py
Due: isort-poetry, mypy, pylint

feat(orc-483): fix test
  src/providers/execution/contracts/delegation_contract.py
  tests/integration/conftest.py
Due: isort-poetry, mypy, pylint

fix: _get_module_validators
  src/modules/oracles/staking_modules/common/distribution.py
Due: isort-poetry, mypy, pylint

fix: the same tree on strikes
  src/modules/oracles/staking_modules/base.py
Due: isort-poetry, mypy, pylint

refactor: `graceful_shutdown.py`
  src/modules/common/graceful_shutdown.py
  src/modules/oracles/common/runtime.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

fix: ai review
  src/modules/oracles/staking_modules/common/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint
