Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat(ORC-108): remove no_penetration_threshold as unused
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/exit_order_iterator.py
  tests/integration/contracts/test_oracle_daemon_config.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(ORC-108): remove consensus_version as unused
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

feat(ORC-108): remove eth_validators_count/eth_validators_effective_balance
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-383): Bump versions
  src/modules/accounting/accounting.py
  src/modules/ejector/ejector.py
Due: isort-poetry, mypy, pylint

feat(ORC-108): remove _stake_weight_coefficient_predicate
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry

feat(ORC-397): fix doc
  src/services/exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(orc-383): fix test_ejector_execute_module_on_pause
  tests/modules/ejector/test_ejector.py
Due: isort-poetry

feat: Upgrade web3-multi-http-provider
  poetry.lock
  pyproject.toml
  src/main.py
  src/metrics/prometheus/basic.py
  src/web3py/middleware.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_middleware.py
Due: isort-poetry, mypy, pylint

fix: `32` -> `slots_per_epoch`
  src/modules/csm/checkpoint.py
Due: isort-poetry, mypy, pylint

feat: add `DistributionResult`
  src/modules/csm/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: attrs
  src/modules/csm/csm.py
Due: isort-poetry, mypy, pylint

refactor: _merge_strikes to return value
  src/modules/csm/distribution.py
Due: isort-poetry, mypy, pylint

fix: use `defaultdict`
  src/modules/csm/distribution.py
Due: isort-poetry, mypy, pylint

test: fix test
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix: assert caled once
  tests/modules/accounting/test_validator_state.py
Due: isort-poetry

feat(orc-376): MVP - removed delays and delinquents from VEBO (#704)
  src/modules/ejector/ejector.py
  src/providers/execution/contracts/oracle_daemon_config.py
  src/services/exit_order_iterator.py
  src/services/validator_state.py
  tests/integration/contracts/test_lido.py
  tests/integration/contracts/test_oracle_daemon_config.py
  tests/modules/accounting/test_validator_state.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

fix: revert commented tests
  tests/fork/test_csm_oracle_cycle.py
Due: isort-poetry

feat: new key number intervals implementation
  src/modules/csm/distribution.py
  src/providers/execution/contracts/cs_parameters_registry.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: linter after merge
  tests/integration/contracts/test_lido.py
Due: isort-poetry

fix: new abis, strikes address
  assets/CSAccounting.json
  assets/CSFeeDistributor.json
  assets/CSFeeOracle.json
  assets/CSModule.json
  assets/CSParametersRegistry.json
  assets/CSStrikes.json
  src/providers/execution/contracts/cs_fee_oracle.py
Due: isort-poetry, mypy, pylint

refactor: sort active validators
  src/modules/csm/distribution.py
Due: isort-poetry, mypy, pylint

fix: Lock with poetry==1.3.2
  poetry.lock
Due: none

chore: remove `FIXME`
  tests/fork/test_csm_oracle_cycle.py
Due: isort-poetry

fix: `KeyNumberValue` parsing
  src/providers/execution/contracts/cs_parameters_registry.py
  tests/integration/contracts/test_cs_parameters_registry.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

feat: Upgrade web3-multi-http-provider (#710)
  poetry.lock
  pyproject.toml
  src/main.py
  src/metrics/prometheus/basic.py
  src/web3py/middleware.py
  tests/modules/submodules/test_oracle_module.py
  tests/web3py/test_middleware.py
Due: isort-poetry, mypy, pylint

refactor: `PerformanceCoefficients` now uses constants
  src/constants.py
  src/providers/execution/contracts/cs_parameters_registry.py
Due: isort-poetry, mypy, pylint

fix: use `persist-credentials`
  .github/workflows/mainnet_fork_tests.yml
Due: none

refactor: type aliases, log, condition
  src/modules/csm/csm.py
  src/modules/csm/distribution.py
  src/modules/csm/log.py
  src/modules/csm/types.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

refactor: review
  src/modules/csm/checkpoint.py
  src/modules/csm/distribution.py
  src/modules/csm/state.py
  src/providers/consensus/client.py
  tests/modules/csm/test_checkpoint.py
  tests/modules/csm/test_state.py
Due: isort-poetry, mypy, pylint

fix: linter
  tests/modules/csm/test_checkpoint.py
Due: isort-poetry

fix: merkle tree data format
  src/modules/accounting/staking_vaults.py
Due: isort-poetry, mypy, pylint

refactor: a bunch of review changes
  src/modules/csm/csm.py
  src/modules/csm/state.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

fix: return logging back
  src/modules/csm/state.py
Due: isort-poetry, mypy, pylint

feature(vaults): added fee
  assets/LazyOracle.json
  src/main.py
  src/modules/accounting/accounting.py
  src/modules/accounting/staking_vaults.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/accounting.py
  src/providers/execution/contracts/lazy_oracle.py
  src/providers/execution/contracts/lido.py
  src/providers/execution/contracts/lido_locator.py
  src/web3py/extensions/contracts.py
  tests/integration/conftest.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults_pending_deposits.py
  tests/modules/accounting/staking_vault/test_staking_vaults_smoke.py
  tests/modules/accounting/test_accounting_module.py
  tests/providers/test_lazy_oracle.py
  tests/providers/test_lido.py
Due: isort-poetry, mypy, pylint

feat: check for list/dict response in http provider
  src/providers/consensus/client.py
  src/providers/http_provider.py
  src/providers/keys/client.py
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

chore: black tests
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

refactor: use explicit validator for http provider
  src/providers/consensus/client.py
  src/providers/http_provider.py
  src/providers/keys/client.py
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

test: add retval_validator simple test
  tests/providers_clients/test_http_provider.py
Due: isort-poetry

chore: remove unused checks in last_report
  src/modules/csm/helpers/last_report.py
Due: isort-poetry, mypy, pylint

chore: wrap tree creation error with ValueError
  src/modules/csm/tree.py
Due: isort-poetry, mypy, pylint
