Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

fix(vaults): Prevent negative apr
  src/utils/apr.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix(apr): use gross apr for vautls fees calculation
  src/modules/accounting/accounting.py
  src/utils/apr.py
Due: isort-poetry, mypy, pylint

chore(release): 5.4.0
  pyproject.toml
Due: none

fix(vaults): fix Invalid Core APR https://github.com/lidofinance/lido-oracle/issues/753
  src/modules/accounting/accounting.py
  src/utils/apr.py
Due: isort-poetry, mypy, pylint

feat(orc-452): refactor to class
  src/utils/car/__init__.py
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add storacha provider
  src/main.py
  src/modules/checks/suites/ipfs.py
  src/providers/ipfs/storacha.py
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add except on http errors
  src/providers/ipfs/storacha.py
Due: isort-poetry, mypy, pylint

feat(orc-452): remove star imports
  src/providers/ipfs/__init__.py
Due: isort-poetry, mypy, pylint

feat(orc-452): pylint - ignore protobuf files
  pyproject.toml
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-452): fix linter warnings
  src/providers/ipfs/storacha.py
  src/utils/car/__init__.py
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-452): allign mypy with protobuf
  poetry.lock
  pyproject.toml
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add ipfs check
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): remove PublicIPFS as not relevant
  src/main.py
  src/modules/checks/suites/ipfs.py
  src/providers/ipfs/__init__.py
  src/providers/ipfs/public.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add multiformats to dependencies
  poetry.lock
  pyproject.toml
Due: none

feat(orc-452): add get_frame_number_by_slot method to ConsensusModule
  src/modules/submodules/consensus.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add ipfs rotation to vaults
  src/modules/accounting/accounting.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add ipfs rotation to csm
  src/modules/csm/csm.py
  src/modules/csm/distribution.py
  src/modules/csm/helpers/last_report.py
  src/web3py/extensions/ipfs.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add frame based ipfs providers rotation
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): pass PINATA_JWT to CI
  .github/workflows/tests.yml
Due: none

feat(orc-452): replace ipfs multi provider with web3 IPFS module
  src/main.py
  src/providers/ipfs/__init__.py
  src/web3py/extensions/__init__.py
  src/web3py/extensions/ipfs.py
  src/web3py/types.py
  tests/conftest.py
  tests/fork/conftest.py
Due: isort-poetry, mypy, pylint

feat(orc-452): Preserve fallback state within the same frame if occurred
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add lru cache to get_frame_number_by_slot
  src/modules/submodules/consensus.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add tests for web3py/extensions/ipfs.py
  src/web3py/extensions/ipfs.py
  tests/web3py/test_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): fix staking_vault/test_ifps_report.py
  src/modules/csm/csm.py
  src/modules/csm/distribution.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(orc-452): refactor frame type
  src/modules/accounting/accounting.py
  src/modules/csm/csm.py
  src/modules/submodules/consensus.py
  src/services/staking_vaults.py
  src/web3py/extensions/ipfs.py
  tests/fork/conftest.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add storacha envs to .env.example
  .env.example
Due: none

feat(orc-452): Add new .env vars to readme
  README.md
Due: none

feat(orc-452): replace py-multiformats-cid with multiformats
  poetry.lock
  pyproject.toml
  src/providers/ipfs/types.py
  tests/providers/test_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): improve ipfs checker
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add tests for car converter
  tests/utils/test_car_converter.py
Due: isort-poetry

feat(orc-452): add get_frame_number_by_slot test
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

feat(orc-452): refact ipfs tests
  tests/web3py/test_ipfs.py
Due: isort-poetry

feat(orc-452): add storacha tests
  tests/modules/submodules/consensus/test_consensus.py
  tests/providers/ipfs/__init__.py
  tests/providers/ipfs/test_ipfs.py
  tests/providers/ipfs/test_storacha.py
  tests/web3py/test_ipfs.py
Due: isort-poetry

feat(orc-452): add CarFile dataclass
  src/providers/ipfs/storacha.py
  src/utils/car/__init__.py
  src/utils/car/converter.py
  tests/providers/ipfs/test_storacha.py
  tests/utils/test_car_converter.py
Due: isort-poetry, mypy, pylint

fix(vaults): fix invalid total value https://github.com/lidofinance/lido-oracle/issues/754
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): fix prevent negative lido fees https://github.com/lidofinance/lido-oracle/issues/748
  src/utils/apr.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix(vaults): lint black
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

fix(vaults): fix mypy warnings
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(orc-452): improve error readability
  src/providers/ipfs/types.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add retries to ipfs checks
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
