Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

fix: docker-compose vars
  docker-compose.yml
Due: none

fix: sys exit
  src/main.py
Due: isort-poetry, mypy, pylint

feat: add `sidecars-up` to Makefile
  Makefile
  docs/development.md
Due: none

fix: args for checkpoint tests
  tests/modules/performance_collector/test_checkpoint.py
Due: isort-poetry

fix: linter
  tests/modules/performance_collector/test_checkpoint.py
Due: isort-poetry

feat: Performance WEB API versioning
  src/modules/sidecars/performance/web/server.py
  src/providers/performance/client.py
Due: isort-poetry, mypy, pylint

fix: EpochsDemandResponse validation
  src/modules/sidecars/performance/web/validation.py
Due: isort-poetry, mypy, pylint

fix: test_staking_module_module_report when no shares to distribute yet
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

fix: cache
  src/utils/cache.py
Due: isort-poetry, mypy, pylint

fix: Revert
  src/utils/cache.py
Due: isort-poetry, mypy, pylint

fix: Revert
  src/variables.py
Due: isort-poetry, mypy, pylint

feat: validation, delete demands uses path
  src/modules/sidecars/performance/web/server.py
  src/modules/sidecars/performance/web/validation.py
  src/providers/performance/client.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
  tests/modules/sidecars/performance/collector/test_processing_attestation.py
Due: isort-poetry, mypy, pylint

feat(orc-575): add init_basic_metrics + CYCLE_COUNT and LAST_CYCLE_TIMESTAMP metrics
  src/main.py
  src/metrics/prometheus/basic.py
  src/modules/submodules/oracle_module.py
Due: isort-poetry, mypy, pylint

feat(orc-575): add tests
  src/modules/submodules/oracle_module.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat(orc-575): fix imports
  Makefile
  src/main.py
  src/modules/submodules/oracle_module.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

chore: Executed "ruff check --fix tests", to format tests in one commit
  tests/__init__.py
  tests/conftest.py
  tests/factory/bitarrays.py
  tests/factory/consensus.py
  tests/factory/web3_factory.py
  tests/fork/test_csm_oracle_cycle.py
  tests/fork/test_lido_oracle_cycle.py
  tests/integration/contracts/contract_utils.py
  tests/metrics/test_logging.py
  tests/modules/accounting/bunker/test_bunker.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/csm/test_csm_module.py
  tests/modules/csm/test_tree.py
  tests/modules/ejector/test_data_encode.py
  tests/providers/test_staking_vaults.py
  tests/utils/test_abi.py
  tests/utils/test_dataclass.py
  tests/utils/test_slot.py
  tests/utils/test_validator_state_utils.py
Due: isort-poetry

chore: fix ruff errors
  tests/conftest.py
  tests/factory/web3_factory.py
  tests/fork/test_lido_oracle_cycle.py
Due: isort-poetry

chore: fix ruff errors
  tests/factory/bitarrays.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_data_encode.py
Due: isort-poetry

chore: fix ruff errors
  tests/factory/bitarrays.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

chore: fix ruff error
  tests/modules/csm/test_csm_module.py
Due: isort-poetry

feat(orc-575): add pre init value to LAST_CYCLE_TIMESTAMP gauge
  src/metrics/prometheus/basic.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat(orc-575): use CycleResult directly
  src/modules/submodules/oracle_module.py
Due: isort-poetry, mypy, pylint

feat(orc-575): add ACCOUNT_BALANCE initialization
  src/main.py
  src/metrics/prometheus/basic.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

feat(ORC-549): force to uase 'fork' model for ProcessPoolExecutor, to save compatability, according to https://docs.python.org/3.14/library/multiprocessing.html#contexts-and-start-methods
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

refactor: web3 modules building
  src/modules/checks/suites/conftest.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/entrypoint.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/common/types.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/entrypoint.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/oracles/staking_modules/common/helpers/last_report.py
  src/modules/oracles/staking_modules/community_staking/entrypoint.py
  src/modules/oracles/staking_modules/curated/entrypoint.py
  src/web3py/extensions/lido_validators.py
  src/web3py/types.py
  tests/fork/test_staking_module_oracle_cycle.py
  tests/integration/contracts/test_csm_extension.py
  tests/modules/csm/test_csm_distribution.py
  tests/modules/csm/test_csm_module.py
Due: isort-poetry, mypy, pylint

refactor: base classes
  src/main.py
  src/modules/common/daemon_module.py
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/accounting/entrypoint.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/common/oracle_module.py
  src/modules/oracles/common/runtime.py
  src/modules/oracles/common/types.py
  src/modules/oracles/ejector/ejector.py
  src/modules/oracles/ejector/entrypoint.py
  src/modules/oracles/staking_modules/base.py
  src/modules/oracles/staking_modules/community_staking/entrypoint.py
  src/modules/oracles/staking_modules/curated/entrypoint.py
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/collector/entrypoint.py
  src/types.py
  src/variables.py
  tests/fork/conftest.py
  tests/main/test_main_cycle_smoke.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/csm/test_csm_module.py
  tests/modules/ejector/test_ejector.py
  tests/modules/submodules/test_oracle_module.py
Due: isort-poetry, mypy, pylint

fix: format
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix: `TestIntegrationMainCycleSmoke`
  tests/main/test_main_cycle_smoke.py
Due: isort-poetry

feat: update consensus and contract versions
  src/modules/oracles/staking_modules/community_staking/csm.py
  src/modules/oracles/staking_modules/curated/cm.py
Due: isort-poetry, mypy, pylint

Apply suggestions from code review
  src/services/staking_vaults.py
  src/utils/block.py
Due: isort-poetry, mypy, pylint

feat(orc-575): add separate doc for alerts
  README.md
  docs/alerts.md
Due: none

fix: catch make_batch_request
  src/utils/block.py
Due: isort-poetry, mypy, pylint

fix: `accounting()` call
  src/providers/execution/contracts/cs_module.py
Due: isort-poetry, mypy, pylint

fix: zero block roots on _get_block_roots
  src/modules/sidecars/performance/collector/checkpoint.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
Due: isort-poetry, mypy, pylint

fix: docker compose
  docker-compose.yml
Due: none

feat: add test for zero block roots in epoch
  tests/modules/sidecars/performance/collector/test_checkpoint.py
Due: isort-poetry

fix: tests
  src/types.py
  src/web3py/extensions/lido_validators.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

refactor: test_checkpoint.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
Due: isort-poetry

fix: pass key env
  docker-compose.yml
Due: none
