Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black-only-tests
        name: Run Black on tests/ using Poetry
        entry: poetry run black tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: conventional-pre-commit
        name: Conventional pre-commit
        entry: poetry run conventional-pre-commit
        language: system
        stages: [commit-msg]
      - id: isort-poetry
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        stages: [pre-commit]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: '^(src)/'
        stages: [commit]
      - id: pylint
        name: pylint
        entry: poetry run pylint src tests
        language: system
        types: [python]
        files: '^(src|test)/'
        stages: [commit]
      - id: pytest-unit
        name: Run pytest unit tests
        entry: poetry run pytest tests -m "not integration and not e2e"
        language: system
        pass_filenames: false
        stages: [commit]

feat(orc-452): add cid validation on fetch and upload
  src/providers/ipfs/kubo.py
  src/providers/ipfs/pinata.py
  src/providers/ipfs/storacha.py
  src/providers/ipfs/types.py
  src/utils/car/converter.py
  tests/providers/ipfs/test_ipfs.py
  tests/providers/ipfs/test_storacha.py
  tests/web3py/test_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add pinata provider unit tests
  tests/providers/ipfs/test_pinata.py
Due: isort-poetry

fix(vaults): fix wrong LazyOracle abi.
  assets/LazyOracle.json
Due: none

fix(vaults): made stable sorting events if they come on the same block number
  src/modules/accounting/events.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore(release): 5.4.1
  pyproject.toml
Due: none

fix(vaults): used pubkeys instead of deposit.signature in get_pending_deposits_by_vaults
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): rename sort -> sort_events
  src/modules/accounting/events.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): rename get_core_apr_ratio -> calculate_gross_core_apr
  src/modules/accounting/accounting.py
  src/utils/apr.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix(vaults): use ascii instead of utf-8 for encoding merkle_tree
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): wrong block_hash and block_number for calculating start point for report
  src/modules/accounting/events.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

fix(vaults): rename vault_connected_events_set -> connected_vaults_set
  src/services/staking_vaults.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix(vaults): get_vaults_fees use liability_shares from prev report
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(orc-452): add _normalize_cid method
  src/providers/ipfs/types.py
  tests/providers/ipfs/test_ipfs.py
  tests/providers/ipfs/test_storacha.py
Due: isort-poetry, mypy, pylint

fix(vaults): lint test_staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry

feat(orc-452): add specs
  src/providers/ipfs/storacha.py
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-452): env IPFS_VALIDATE_CID added
  README.md
  src/providers/ipfs/types.py
  src/variables.py
  tests/providers/ipfs/test_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-452): shuffle ipfs providers on startup
  src/web3py/extensions/ipfs.py
  tests/web3py/test_ipfs.py
Due: isort-poetry, mypy, pylint

Update README.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Integrate new web3py-multi-provider
  poetry.lock
  pyproject.toml
  src/providers/consensus/client.py
  src/providers/http_provider.py
  src/providers/keys/client.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

feat: Fix stream consumption
  src/providers/http_provider.py
Due: isort-poetry, mypy, pylint

feat: reorder call to init_metrics
  src/main.py
Due: isort-poetry, mypy, pylint

Remove empty
  src/providers/http_provider.py
Due: isort-poetry, mypy, pylint

feat: add envs to e2e pipeline
  .github/workflows/mainnet_fork_tests.yml
Due: none

fix: Comment out provider variables
  .github/workflows/mainnet_fork_tests.yml
Due: none

fix: remove stuck mentions
  README.md
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix: use `/usr/bin/env` in shebang
  kubo/020-pin-cids.sh
Due: none

feat: Integrate new web3py-multi-provider (#765)
  poetry.lock
  pyproject.toml
  src/main.py
  src/providers/consensus/client.py
  src/providers/http_provider.py
  src/providers/keys/client.py
  stubs/web3_multi_provider/__init__.pyi
  stubs/web3_multi_provider/multi_http_provider.pyi
  tests/providers/consensus/test_consensus_client.py
  tests/providers_clients/test_http_provider.py
Due: isort-poetry, mypy, pylint

test: fix flaky test (#747)
  tests/modules/csm/test_checkpoint.py
Due: isort-poetry

feat: return back reviewers
  .github/CODEOWNERS
Due: none

fix(vaults): Removed get_all_validators unused const
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

fix(vaults): Fixed calculation gross_apr
  src/modules/accounting/accounting.py
  src/utils/apr.py
  tests/utils/test_apr.py
Due: isort-poetry, mypy, pylint

fix(vroom-306): docker compose devnet yaml
  docker-compose.devnet.yml
Due: none

fix: do not check zero block root
  src/modules/csm/checkpoint.py
Due: isort-poetry, mypy, pylint

chore(release): 6.1.0
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

feat: Healthcheck update to listen not only on localhost and Dockerfile curl fix
  Dockerfile
  src/metrics/healthcheck_server.py
Due: isort-poetry, mypy, pylint

feat(orc-455): Add Lido ipfs cluster integration
  README.md
  src/main.py
  src/modules/checks/suites/ipfs.py
  src/providers/ipfs/__init__.py
  src/providers/ipfs/lido_ipfs.py
  src/variables.py
Due: isort-poetry, mypy, pylint
