Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat(orc-503): replace pbnode protobuf with library
  src/utils/car/converter.py
  src/utils/car/schemes/__init__.py
  src/utils/car/schemes/merkledag.proto
  src/utils/car/schemes/merkledag_pb2.py
Due: isort-poetry, mypy, pylint

feat(orc-503): add stubs for ipld_dag_pb
  stubs/ipld_dag_pb/__init__.pyi
Due: none

feat(orc-503): improve logging
  src/providers/ipfs/types.py
Due: isort-poetry, mypy, pylint

feat(orc-503): remove special chars from checker to avoid claudflare issues
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-503): refactor
  src/utils/car/converter.py
Due: isort-poetry, mypy, pylint

feat(orc-503): add tests for CARConverter when file more then DEFAULT_CHUNK_SIZE
  tests/utils/test_car_converter.py
Due: isort-poetry

chore: fix tests
  tests/integration/contracts/test_accounting.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
Due: isort-poetry

feat(orc-503): add quorum for IPFS.publish
  src/main.py
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-503): add tests to cid's quorum
  tests/web3py/test_ipfs.py
Due: isort-poetry

feat(orc-503): Improve docstring
  src/main.py
Due: isort-poetry, mypy, pylint

feat(orc-503): add separate warning log if any ipfs upload failed
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat: add `0x02` support
  src/modules/csm/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: use `EFFECTIVE_BALANCE_INCREMENT`
  src/modules/csm/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: black
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry

fix: lock
  poetry.lock
Due: none

fix: black
  tests/fork/conftest.py
  tests/modules/performance_collector/test_checkpoint.py
  tests/modules/performance_collector/test_codec.py
Due: isort-poetry

feat(orc-503): add pinata upload timeout
  src/providers/ipfs/pinata.py
Due: isort-poetry, mypy, pylint

feat(orc-503): Add user agent with oracle version for LidoIPFS provider (PROT-509)
  src/providers/ipfs/lido_ipfs.py
  src/utils/version.py
  tests/providers/ipfs/test_lido_ipfs.py
  tests/utils/test_version.py
Due: isort-poetry, mypy, pylint

feat(orc-503): Log error details without exposing upload URL with sensitive info for Storacha
  src/providers/ipfs/storacha.py
  tests/providers/ipfs/test_storacha.py
Due: isort-poetry, mypy, pylint

feat(orc-503): add cache for get_oracle_version
  src/utils/version.py
Due: isort-poetry, mypy, pylint

feat: add `0x02` support (#811)
  src/modules/csm/distribution.py
  tests/modules/csm/test_csm_distribution.py
Due: isort-poetry, mypy, pylint

fix: already processed epochs
  src/modules/csm/csm.py
  src/web3py/extensions/__init__.py
Due: isort-poetry, mypy, pylint

feat(orc-503): fix ProviderConsistencyError error msg
  src/web3py/extensions/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-503): fix error msg in _check_ipfs_provider_with
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

chore: fixes after review
  tests/modules/accounting/staking_vault/test_ifps_report.py
Due: isort-poetry

feat: ChainConverter
  src/modules/csm/csm.py
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/http_server.py
  src/modules/performance_collector/performance_collector.py
  src/providers/performance/client.py
  src/utils/web3converter.py
Due: isort-poetry, mypy, pylint

refactor: types
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/codec.py
  src/modules/performance_collector/db.py
  src/modules/performance_collector/http_server.py
  src/modules/performance_collector/performance_collector.py
  src/modules/performance_collector/types.py
  src/providers/performance/client.py
Due: isort-poetry, mypy, pylint

feat: better logging
  src/modules/csm/csm.py
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/performance_collector.py
  src/modules/submodules/consensus.py
  src/utils/web3converter.py
Due: isort-poetry, mypy, pylint

feat: additional validation
  src/constants.py
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/codec.py
  src/modules/performance_collector/db.py
Due: isort-poetry, mypy, pylint

refactor: db
  src/modules/performance_collector/db.py
Due: isort-poetry, mypy, pylint

feat: `epochs_demand`
  src/modules/csm/csm.py
  src/modules/performance_collector/checkpoint.py
  src/modules/performance_collector/db.py
  src/modules/performance_collector/http_server.py
  src/modules/performance_collector/performance_collector.py
  src/providers/http_provider.py
  src/providers/performance/client.py
  src/variables.py
  tests/fork/test_csm_oracle_cycle.py
  tests/modules/performance_collector/test_codec.py
Due: isort-poetry, mypy, pylint

fix: calc dependent root for epochs after Fulu fork
  src/modules/csm/checkpoint.py
  src/providers/consensus/types.py
Due: isort-poetry, mypy, pylint

feat: do not raise an error on the wrong dependent root (temporary)
  src/providers/consensus/client.py
Due: isort-poetry, mypy, pylint

Upgrade contract version
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

Fix fromhex
  src/modules/accounting/accounting.py
Due: isort-poetry, mypy, pylint

fix: `missing_epochs_in`
  src/modules/performance_collector/db.py
Due: isort-poetry, mypy, pylint

fix: logic, logging
  src/modules/csm/csm.py
  src/modules/performance_collector/performance_collector.py
Due: isort-poetry, mypy, pylint

fix: csm.execute_module
  src/modules/csm/csm.py
Due: isort-poetry, mypy, pylint

feat: add `_post` for http_provider
  src/providers/http_provider.py
  src/providers/performance/client.py
Due: isort-poetry, mypy, pylint

fix: SafeBorder SafeBorder inheritance issue
  src/services/safe_border.py
  src/utils/web3converter.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
