Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

test(gloas): pin the deadline slot in the child-finalization tests
  tests/modules/submodules/consensus/test_consensus.py
Due: isort-poetry

docs(gloas): trim the blockstamp comments to the non-obvious parts
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/services/safe_border.py
  src/types.py
  src/utils/blockstamp.py
  src/utils/slot.py
Due: isort-poetry, mypy, pylint

refactor(gloas): build blockstamps with functions, not a builder class
  scripts/run_oracle_at_slot.py
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/modules/oracles/staking_modules/common/distribution.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/safe_border.py
  src/services/staking_vaults.py
  src/utils/blockstamp.py
  src/utils/slot.py
  tests/fork/conftest.py
  tests/integration/test_gloas_blockstamp.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/staking_vault/test_fee_get_vaults.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/providers/consensus/test_consensus_client.py
  tests/utils/test_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

docs(gloas): keep one canonical explanation of a report's anchors
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/types.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry, mypy, pylint

feat(stc-892): add fork test
  tests/fork/test_ejector_gas_clamp.py
Due: isort-poetry

feat(stc-892): add MAX_EXIT_REQUESTS_PER_REPORT and TX_GAS_LIMIT
  README.md
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/utils/transaction.py
  src/variables.py
  tests/fork/test_ejector_gas_clamp.py
  tests/modules/ejector/test_ejector.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

fix(stc-892): keep forced exits when report hits MAX_EXIT_REQUESTS_PER_REPORT
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix(stc-892): validate TX_GAS_LIMIT and log gas clamping
  src/modules/oracles/ejector/ejector.py
  src/utils/transaction.py
  src/variables.py
Due: isort-poetry, mypy, pylint

fix(stc-892): keep exit order on cap, validate TX_GAS_LIMIT, log gas clamp
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

feat(stc-892): fix gas limit
  README.md
  src/constants.py
  src/variables.py
Due: isort-poetry, mypy, pylint

feat(stc-892): adjust log
  README.md
  src/modules/oracles/ejector/ejector.py
Due: isort-poetry, mypy, pylint

refactor(stc-892): enforce exit requests limit inside ValidatorExitIterator
  src/constants.py
  src/modules/oracles/ejector/ejector.py
  src/services/exit_order_iterator.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
Due: isort-poetry, mypy, pylint

feat(stc-892): fix
  src/utils/transaction.py
Due: isort-poetry, mypy, pylint

feat(stc-892): bump version
  pyproject.toml
Due: none

chore(release): 8.1.0
  pyproject.toml
Due: none

chore(release): 8.0.6
  pyproject.toml
Due: none

fix: stop double-counting unswept CL rewards in the ejector
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix: charge only half the deposit reserve against the withdrawal queue
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

refactor: drop the unswept-rewards term from the predicted EL balance
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

docs: condense the ejector balance-formula comments
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

refactor(ejector): move balance-formula rationale into the methods it explains
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

docs(ejector): simplify the balance-formula docstrings
  src/modules/oracles/ejector/ejector.py
  tests/modules/ejector/test_ejector.py
Due: isort-poetry, mypy, pylint

fix(stc-892): port the 8.0.6 VEBO gas clamp onto develop
  README.md
  pyproject.toml
  src/constants.py
  src/services/exit_order_iterator.py
  src/utils/transaction.py
  src/variables.py
  tests/modules/ejector/test_ejector.py
  tests/modules/ejector/test_validator_exit_order_iterator.py
  tests/web3py/test_tx_utils.py
Due: isort-poetry, mypy, pylint

refactor(gloas): bound the safe-border search by ref_slot again
  src/services/safe_border.py
Due: isort-poetry, mypy, pylint

refactor(gloas): read the execution anchor from the payload bid only
  src/modules/checks/suites/conftest.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/utils/blockstamp.py
  tests/integration/test_gloas_blockstamp.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/utils/test_blockstamp_gloas.py
  tests/utils/test_fingerprint.py
  tests/utils/test_fingerprint_mainnet_fixtures.py
Due: isort-poetry, mypy, pylint

feat(gloas): require an execution client in every daemon
  README.md
  docker-compose.yml
  src/modules/common/daemon_module.py
  src/modules/sidecars/performance/collector/checkpoint.py
  src/modules/sidecars/performance/collector/collector.py
  src/modules/sidecars/performance/collector/entrypoint.py
  src/utils/blockstamp.py
  src/variables.py
  tests/fork/test_staking_module_oracle_cycle.py
  tests/modules/sidecars/performance/collector/test_checkpoint.py
  tests/modules/sidecars/performance/collector/test_performance_collector.py
  tests/utils/test_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

fix(gloas): pass the right arguments to build_blockstamp in the integration tests
  tests/fork/conftest.py
  tests/modules/accounting/test_withdrawal_integration.py
  tests/providers/consensus/test_consensus_client.py
Due: isort-poetry

fix(gloas): decide the fork from the beacon config, not the block shape
  src/providers/consensus/client.py
  src/providers/consensus/types.py
  src/utils/blockstamp.py
  tests/conftest.py
  tests/modules/submodules/consensus/test_consensus.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

docs(gloas): cut the commentary down to what the code cannot say itself
  src/modules/checks/suites/conftest.py
  src/modules/common/daemon_module.py
  src/modules/oracles/common/consensus.py
  src/modules/sidecars/performance/collector/entrypoint.py
  src/providers/consensus/types.py
  src/services/safe_border.py
  src/types.py
  src/utils/blockstamp.py
  src/utils/slot.py
  src/variables.py
  tests/integration/test_gloas_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

feat: add CSM 0x02 oracle instance
  .env.example
  README.md
  docker-compose.yml
  docs/monitoring/README.md
  docs/monitoring/alerts.yml
  docs/monitoring/prometheus.yml
Due: none

feat: add csm_0x02 oracle module
  .env.example
  README.md
  agents.md
  docker-compose.yml
  docs/development.md
  src/main.py
  src/modules/oracles/staking_modules/community_staking_0x02/__init__.py
  src/modules/oracles/staking_modules/community_staking_0x02/csm_0x02.py
  src/modules/oracles/staking_modules/community_staking_0x02/entrypoint.py
  src/types.py
  src/variables.py
  tests/main/test_main_dispatch.py
Due: isort-poetry, mypy, pylint

fix: drive the signer in fork report cycles
  tests/fork/conftest.py
  tests/fork/test_delegation_report_cycle.py
  tests/fork/test_lido_oracle_cycle.py
  tests/fork/test_staking_module_oracle_cycle.py
Due: isort-poetry

ci: run fork tests when the fork tests change
  .github/workflows/mainnet_fork_tests.yml
Due: none

refactor(gloas): drop the config-spec cache, rename is_gloas, share the EL provider builder
  src/modules/oracles/common/runtime.py
  src/modules/sidecars/performance/collector/entrypoint.py
  src/providers/consensus/client.py
  src/runtime.py
  tests/conftest.py
  tests/integration/test_gloas_blockstamp.py
  tests/utils/test_blockstamp_gloas.py
Due: isort-poetry, mypy, pylint

fix: log the traceback for reverts swallowed by the cycle handler
  src/modules/oracles/common/oracle_module.py
Due: isort-poetry, mypy, pylint

feat(gloas): in-flight withdrawal TVL correction (accounting)
  src/modules/oracles/accounting/accounting.py
  src/services/bunker_cases/abnormal_cl_rebase.py
  src/services/staking_vaults.py
  src/utils/validator_balance.py
  tests/conftest.py
  tests/modules/accounting/bunker/conftest.py
  tests/modules/accounting/bunker/test_bunker_abnormal_cl_rebase.py
  tests/modules/accounting/test_gloas_correction.py
Due: isort-poetry, mypy, pylint

feat(gloas): in-flight withdrawal correction in the ejector
  src/modules/oracles/accounting/accounting.py
  src/modules/oracles/ejector/ejector.py
  src/utils/validator_balance.py
  tests/modules/accounting/test_gloas_correction.py
  tests/modules/ejector/test_ejector_gloas_correction.py
Due: isort-poetry, mypy, pylint

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
