Repository lidofinance/lido-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort-poetry, mypy, pylint

isort-poetry:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint src tests
  language: system
  stages:
  - commit

feat: dockerfile update
  Dockerfile
Due: none

chore(release): 6.1.0
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

feat: redesign validator balance handling
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/modules/submodules/consensus.py
  src/modules/submodules/types.py
  src/providers/consensus/types.py
  src/services/staking_vaults.py
  src/utils/deposit_signature.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/providers/test_staking_vaults.py
  tests/utils/constants.py
  tests/utils/test_deposit_signature.py
Due: isort-poetry, mypy, pylint

chore: cleanup deps
  poetry.lock
  pyproject.toml
Due: none

chore: fix docker build
  Dockerfile
Due: none

chore: fix linter
  src/modules/accounting/types.py
Due: isort-poetry, mypy, pylint

chore: simplify pending balances calculation
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: simplify code
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: add comments and fix lint errors
  src/modules/accounting/types.py
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

ci: try to fix build
  .github/workflows/docker_build_reproducibility.yml
Due: none

feat(orc-455): add tests for lido ipfs
  src/modules/checks/suites/ipfs.py
  tests/providers/ipfs/test_lido_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-455): refactor ipfs checks
  src/modules/checks/suites/ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-455): remove frame num from ipfs.publish
  src/modules/accounting/accounting.py
  src/modules/csm/csm.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(orc-455): bump curl
  Dockerfile
Due: none

feat(orc-455): implement ipfs "push to all" business logic
  src/web3py/extensions/ipfs.py
  tests/web3py/test_ipfs.py
Due: isort-poetry, mypy, pylint

feat(orc-455): reduce IPFS providers default timeout
  src/variables.py
Due: isort-poetry, mypy, pylint

chore(release): 6.0.1
  pyproject.toml
Due: none

feat(builds-1): feat(reproducible-builds): add rev to oz merkle tree and remove licenses on build
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

chore: update after review
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

chore: update after review
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore: update docs after review
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(builds-1): feat(reproducible-build): add version to Dockerfile to fix reproducible builds, according to https://github.com/moby/buildkit/issues/6217
  Dockerfile
Due: none

chore(vaults): fix pdg flow
  src/constants.py
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
Due: isort-poetry, mypy, pylint

chore(vaults): formating
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

chore(vaults): abidiff
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/Burner.json
  assets/LazyOracle.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleReportSanityChecker.json
  assets/VaultHub.json
Due: none

feat(vaults): restore share_rate
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/Burner.json
  assets/Lido.json
  assets/LidoLocator.json
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/accounting.py
  src/services/bunker.py
  tests/factory/contract_responses.py
  tests/integration/contracts/test_accounting.py
  tests/modules/accounting/bunker/test_bunker.py
  tests/modules/accounting/test_accounting_module.py
Due: isort-poetry, mypy, pylint

feat(vaults): add max_liability_shares
  assets/LazyOracle.json
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  src/providers/execution/contracts/lazy_oracle.py
  src/services/staking_vaults.py
  tests/modules/accounting/staking_vault/test_staking_vaults.py
  tests/modules/accounting/test_accounting_module.py
  tests/modules/submodules/consensus/test_reports.py
Due: isort-poetry, mypy, pylint

feat(vaults): use new locator
  tests/conftest.py
Due: isort-poetry

chore: fixes
  assets/OracleReportSanityChecker.json
  assets/VaultHub.json
  src/modules/accounting/accounting.py
  src/modules/accounting/types.py
  tests/factory/configs.py
Due: isort-poetry, mypy, pylint

feat(vaults): minify abis
  assets/Accounting.json
  assets/AccountingOracle.json
  assets/Burner.json
  assets/LazyOracle.json
  assets/Lido.json
  assets/LidoLocator.json
  assets/OracleDaemonConfig.json
  assets/OracleReportSanityChecker.json
  assets/StakingRouter.json
  assets/ValidatorsExitBusOracle.json
  assets/VaultHub.json
  assets/WithdrawalQueueERC721.json
Due: none

chore: after review
  src/services/staking_vaults.py
Due: isort-poetry, mypy, pylint

feat(vaults): fix or skip tests
  tests/integration/contracts/test_accounting.py
  tests/modules/accounting/staking_vault/test_ifps_report.py
  tests/providers/test_staking_vaults.py
Due: isort-poetry

fix: finalization batches
  src/modules/accounting/types.py
  src/providers/execution/contracts/withdrawal_queue_nft.py
  src/services/withdrawal.py
Due: isort-poetry, mypy, pylint

ci: backport action from develop
  .github/workflows/ci-dev.yml
Due: none

ci: provide input for img
  .github/workflows/ci-dev.yml
Due: none

fix: docker build
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

fix: finalization batches multiple call
  src/modules/accounting/types.py
  src/providers/execution/contracts/withdrawal_queue_nft.py
  src/services/withdrawal.py
Due: isort-poetry, mypy, pylint

fix: Dockerfile
  Dockerfile
Due: none

Path conditions:
  isort-poetry: any of: \.py$
  mypy: any of: ^(src)/ and \.py$
  pylint: any of: ^(src|test)/ and \.py$
